Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  after_script:
  - cd backend
  ...

[S12P31A202-505] chore: Add tutorialUrl and youtubeUrl to app.config.ts
  mobile/app.config.ts
Due: none

[S12P31A202-500] chore: Add react-native-svg to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-502] chore: Add react-native-svg-transformer configurations
  mobile/metro.config.js
Due: none

[S12P31A202-508] refactor: Extract LogoTemplate
  mobile/src/screens/LandingScreen.tsx
  mobile/src/templates/LogoTemplate.tsx
Due: none

[S12P31A202-483] feat: Add color custom api
  backend/src/main/java/net/dutymate/api/domain/color/Color.java
  frontend/src/components/atoms/DutyBadgeKor.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ShiftColorPickerModal.tsx
  frontend/src/components/organisms/SurveyModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/services/dutyService.ts
  frontend/src/services/userService.ts
  frontend/src/stores/userAuthStore.ts
  frontend/src/utils/dutyUtils.ts
Due: check_frontend, build_backend

[S12P31A202-483] fix: Fix conflit
  frontend/src/components/organisms/SurveyModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P31A202-483] feat: Add color reset feature
  frontend/src/components/organisms/ShiftColorPickerModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P31A202-483] feat: Refactor group badge color
  frontend/src/components/atoms/DutyBadgeEng.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
Due: check_frontend

[S12P31A202-510] feat: Limit length of duty request memo input
  frontend/src/components/atoms/DutyBadgeKor.tsx
  frontend/src/components/atoms/Input.tsx
  frontend/src/components/organisms/AdminReqShiftModal.tsx
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/ReqShiftModal.tsx
Due: check_frontend

[S12P31A202-509] fix: Update Router to allow group invite link access without login
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/Group/GroupInvitePage.tsx
  frontend/src/pages/KakaoRedirect.tsx
  frontend/src/routes/Router.tsx
Due: check_frontend

[S12P31A202-509] feat: Add group link by kakaotalk
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/Group/GroupInvitePage.tsx
  frontend/src/pages/KakaoRedirect.tsx
Due: check_frontend

[S12P31A202-512] feat: Remove inviteToken after joining group via invite link
  frontend/src/pages/Group/GroupInvitePage.tsx
Due: check_frontend

[S12P31A202-517] docs: Add TIL by jongwooo
  til/한종우/250513/README.md
Due: none

[S12P31A202-514] fix: Add error handling for force generate
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-513] fix: Add onDelete annotation
  backend/src/main/java/net/dutymate/api/domain/calendar/Calendar.java
  backend/src/main/java/net/dutymate/api/domain/member/Member.java
Due: build_backend

[S12P31A202-513] fix: Add onDelete annotation in Color entity
  backend/src/main/java/net/dutymate/api/domain/color/Color.java
Due: build_backend

[S12P31A202-515] fix: Preserve request table header layout when data is empty
  frontend/src/components/organisms/AutoGenerateConfirmModal.tsx
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/SurveyModal.tsx
Due: check_frontend

[S12P31A202-518] feat: Improve shift table reset with async logic and loading UX
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-520] docs: Update architecture image in README.md
  assets/images/dutymate-architecture.png
Due: none

[S12P31A202-522] feat: Add isWaveBackground prop to Layout component
  mobile/src/layout/Layout.tsx
  mobile/src/screens/WebViewScreen.tsx
Due: none

[S12P31A202-523] feat: Implement ErrorScreen
  mobile/src/App.tsx
  mobile/src/layout/Layout.tsx
  mobile/src/screens/ErrorScreen.tsx
  mobile/src/screens/LandingScreen.tsx
Due: none

[S12P31A202-526] chore: Set backup_retention_period to 7
  infrastructure/Modules/RDS/main.tf
Due: check_infrastructure

[S12P31A202-524] fix: Set upload image file size
  backend/src/main/resources/application.yaml
Due: build_backend

[S12P31A202-528] fix: fix duty header
  frontend/src/pages/ShiftAdmin.tsx
Due: check_frontend

[S12P31A202-534] feat: Update toast messages for max ward and temp nurses
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminTemp.tsx
Due: check_frontend

[S12P31A202-533] feat: Add redirection to avoid KakaoTalk in-app browser
  frontend/index.html
Due: check_frontend

[S12P31A202-529] fix: Fix button size
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/pages/ReqAdmin.tsx
Due: check_frontend

[S12P31A202-536] style: Wrap props in curly braces
  mobile/src/App.tsx
Due: none

[S12P31A202-530] fix: Fix group appointment size
  frontend/src/components/atoms/Button.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
Due: check_frontend

[S12P31A202-532] refactor: Limit number of ward nurse
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
Due: build_backend

[S12P31A202-541] docs: Add TIL by jaehyun
  til/이재현/250512/README.md
Due: none

[S12P31A202-542] docs: Add TIL by jaehyun
  til/이재현/250513/README.md
Due: none

[S12P31A202-544] docs: Add TIL by jaehyun
  til/이재현/250514/README.md
Due: none

[S12P31A202-547] chore: Add @types/react-native-vector-icons to devDependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-549] feat: Implement Input component
  mobile/src/components/input/Input.tsx
Due: none

[S12P31A202-548] feat: Implement StyledTextInput component
  mobile/src/components/custom/StyledTextInput.tsx
Due: none

[S12P31A202-546] chore: Add react-native-vector-icons to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-553] feat: Improve readability of shift Excel table
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useShiftExport.ts
Due: check_frontend

[S12P31A202-555] refactor: Use app.config.ts instead of app.json
  mobile/app.config.ts
  mobile/app.json
Due: none

[S12P31A202-539] fix: Fix group calendar size
  frontend/src/pages/Group/GroupDetailPage.tsx
Due: check_frontend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
