Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  after_script:
  - cd backend
  ...

[S12P31A202-601] feat: Implement AuthCodeSendButton component
  mobile/src/components/button/Button.tsx
Due: none

[S12P31A202-604] fix: Fix loginform text
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/pages/PasswordReset.tsx
Due: check_frontend

[S12P31A202-597] feat: Add M option
  frontend/src/components/organisms/AutoGenerateConfirmModal.tsx
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/components/organisms/SurveyModal.tsx
Due: check_frontend

[S12P31A202-607] fix: Fix bug where shift table didn't refresh after generate or reset
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-607] fix: Remove inviteToken from localStorage when group join fails
  frontend/src/pages/Group/GroupInvitePage.tsx
Due: check_frontend

[S12P31A202-609] feat: Add pinned post feature with badge and styling
  frontend/src/components/organisms/CommunityForm.tsx
Due: check_frontend

[S12P31A202-563] style: Update files to format code
  mobile/src/App.tsx
  mobile/src/components/button/ToggleButton.tsx
  mobile/src/components/dropdown/Dropdown.tsx
  mobile/src/components/extrainfo/RoleCard.tsx
  mobile/src/components/form/extrainfo/ExtraInfoForm.tsx
  mobile/src/screens/ExtraInfoScreen.tsx
Due: none

[S12P31A202-563] feat: Add dropdowm component
  mobile/src/components/dropdown/Dropdown.tsx
  mobile/src/screens/TestScreen.tsx
Due: none

[S12P31A202-563] refactor: Update initial router name to Landing
  mobile/src/App.tsx
Due: none

[S12P31A202-563] feat: Update extraInfo screen UI
  mobile/src/components/button/ToggleButton.tsx
  mobile/src/components/dropdown/Dropdown.tsx
  mobile/src/components/extraInfo/RoleCard.tsx
  mobile/src/components/form/extraInfo/ExtraInfoForm.tsx
  mobile/src/screens/ExtraInfoScreen.tsx
Due: none

[S12P31A202-563] chore: Add react-native-element-dropdown to dependencies
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/components/dropdown/Dropdown.tsx
  mobile/src/screens/TestScreen.tsx
Due: none

[S12P31A202-563] feat: Add extra-info mobile page
  mobile/src/App.tsx
  mobile/src/components/dropdown/Dropdown.tsx
  mobile/src/components/extraInfo/ExtraInfoForm.tsx
  mobile/src/components/extraInfo/RoleCard.tsx
  mobile/src/screens/ExtraInfoScreen.tsx
  mobile/src/screens/TestScreen.tsx
Due: none

[S12P31A202-563] fix: Fix mobile code style
  mobile/src/components/button/ToggleButton.tsx
  mobile/src/components/dropdown/Dropdown.tsx
  mobile/src/components/extraInfo/RoleCard.tsx
  mobile/src/components/form/extraInfo/ExtraInfoForm.tsx
Due: none

[S12P31A202-614] feat: Implement AgreementCheckbox component
  mobile/src/components/checkbox/AgreementCheckbox.tsx
Due: none

[S12P31A202-615] feat: Implement SignupForm component
  mobile/src/components/form/signup/SignupForm.tsx
Due: none

[S12P31A202-616] feat: Implement SignupScreen skeleton
  mobile/src/App.tsx
  mobile/src/components/form/login/LoginForm.tsx
  mobile/src/screens/SignupScreen.tsx
Due: none

[S12P31A202-610] feat: Fetch ward requests by year/month
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/RequestCheckModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/pages/ShiftAdmin.tsx
Due: check_frontend

[S12P31A202-617] fix: Sync nurse shortage calculation with backend logic
  frontend/biome.json
  frontend/src/hooks/useNurseShortageCalculation.ts
Due: check_frontend

[S12P31A202-618] fix: Remove orange guide text from ward creation form
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/ExtraInfo.tsx
Due: check_frontend

[S12P31A202-619] feat: Add name and nickname validation with forbidden word filtering
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/RequestCheckModal.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/utils/validation.ts
Due: check_frontend

[S12P31A202-606] fix: Fix group size and sidebar order
  frontend/src/components/organisms/Group/GroupLayout.tsx
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
Due: check_frontend

[S12P31A202-611] refactor: Add mobile login api
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/global/auth/jwt/JwtUtil.java
  backend/src/main/resources/application-env.yaml
Due: build_backend

[S12P31A202-611] fix: Fix mobile to true
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
Due: build_backend

[S12P31A202-620] refactor: Restructure mobile packages
  mobile/src/components/common/Button.tsx
  mobile/src/components/common/Card.tsx
  mobile/src/components/common/CustomImage.tsx
  mobile/src/components/common/Dropdown.tsx
  mobile/src/components/common/Input.tsx
  mobile/src/components/common/StyledText.tsx
  mobile/src/components/common/StyledTextInput.tsx
  mobile/src/components/common/WaveBackground.tsx
  mobile/src/components/extraInfo/ExtraInfoForm.tsx
  mobile/src/components/extraInfo/RoleCard.tsx
  mobile/src/components/extraInfo/ToggleButton.tsx
  mobile/src/components/login/LoginEmailVerificationForm.tsx
  mobile/src/components/login/LoginForm.tsx
  mobile/src/components/login/SocialLoginButton.tsx
  mobile/src/components/passwordReset/PasswordResetForm.tsx
  mobile/src/components/signup/AgreementCheckbox.tsx
  mobile/src/components/signup/SignupForm.tsx
  mobile/src/layout/Layout.tsx
  mobile/src/screens/ErrorScreen.tsx
  mobile/src/screens/ExtraInfoScreen.tsx
  mobile/src/screens/LandingScreen.tsx
  mobile/src/screens/LoginScreen.tsx
  mobile/src/screens/PasswordResetScreen.tsx
  mobile/src/screens/SignupScreen.tsx
  mobile/src/templates/LogoTemplate.tsx
Due: none

[S12P31A202-622] refactor: Cleanup mobile source codes
  mobile/src/components/common/Dropdown.tsx
  mobile/src/components/common/Input.tsx
  mobile/src/components/common/WaveBackground.tsx
  mobile/src/components/extraInfo/ExtraInfoForm.tsx
  mobile/src/components/extraInfo/RoleCard.tsx
  mobile/src/components/extraInfo/ToggleButton.tsx
  mobile/src/components/signup/AgreementCheckbox.tsx
  mobile/src/components/signup/SignupForm.tsx
  mobile/src/screens/ErrorScreen.tsx
  mobile/src/screens/LandingScreen.tsx
Due: none

[S12P31A202-626] feat: Add navigation props to ExtraInfoForm component
  mobile/src/components/extraInfo/ExtraInfoForm.tsx
  mobile/src/screens/ExtraInfoScreen.tsx
Due: none

[S12P31A202-628] feat: Implement CreateWardForm component
  mobile/src/components/createWard/CreateWardForm.tsx
Due: none

[S12P31A202-629] feat: Implement CreateWardScreen skeleton
  mobile/src/App.tsx
  mobile/src/components/extraInfo/ExtraInfoForm.tsx
  mobile/src/screens/CreateWardScreen.tsx
Due: none

[S12P31A202-627] fix: Correct typo in CreateWardForm component
  mobile/src/components/createWard/CreateWardForm.tsx
Due: none

[S12P31A202-559] feat: Add duty type selection on admission approval backend
  backend/src/main/java/net/dutymate/api/domain/ward/controller/WardController.java
  backend/src/main/java/net/dutymate/api/domain/ward/dto/EnterAcceptRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/ward/dto/ShiftsComparisonResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/collections/WardSchedule.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/util/InitialDutyGenerator.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/util/ShiftUtil.java
  frontend/src/components/organisms/WardAdminModal.tsx
  frontend/src/services/wardService.ts
Due: check_frontend, build_backend

[S12P31A202-538] fix: Fix two button color
  frontend/src/components/organisms/Group/DateSuggestionModal.tsx
Due: check_frontend

[S12P31A202-559] feat: Add duty type selection on admission approval in frontend
  frontend/src/components/organisms/AddNurseConfirmModal.tsx
  frontend/src/components/organisms/WardAdminModal.tsx
  frontend/src/services/wardService.ts
Due: check_frontend

[S12P31A202-538] feat: Add suggestion date stroke
  frontend/src/components/organisms/Group/CheckMemberModal.tsx
  frontend/src/components/organisms/Group/DateSuggestionModal.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/services/groupService.ts
Due: check_frontend

[S12P31A202-598] fix: Add my calendar time info
  backend/src/main/java/net/dutymate/api/domain/wardschedules/dto/MyDutyResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-631] feat: Connect suggested date ment api
  frontend/src/components/organisms/Group/CheckMemberModal.tsx
  frontend/src/components/organisms/Group/DateSuggestionModal.tsx
  frontend/src/types/group.ts
Due: check_frontend

[S12P31A202-632] feat: Add update community board backend logic
  backend/src/main/java/net/dutymate/api/domain/community/Board.java
  backend/src/main/java/net/dutymate/api/domain/community/controller/BoardController.java
  backend/src/main/java/net/dutymate/api/domain/community/dto/BoardUpdateRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/community/service/BoardService.java
Due: build_backend

[S12P31A202-632] feat: Add update board and image preview
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/pages/CommunityDetailPage.tsx
  frontend/src/pages/CommunityWritePage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/boardService.ts
Due: check_frontend

[S12P31A202-634] feat: Improve in-app browser handling with platform-specific UX
  frontend/index.html
Due: check_frontend

[S12P31A202-637] feat: Implement Timer component
  mobile/src/components/common/Timer.tsx
Due: none

[S12P31A202-639] feat: Randomize login log filename and add secret key
  backend/src/main/java/net/dutymate/api/domain/common/utils/FileNameUtils.java
  backend/src/main/java/net/dutymate/api/domain/community/controller/NewsController.java
  backend/src/main/java/net/dutymate/api/domain/holiday/controller/HolidayController.java
  backend/src/main/java/net/dutymate/api/domain/member/controller/LoginLogController.java
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/LoginLogService.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/member/util/StringGenerator.java
  backend/src/main/resources/application-env.yaml
Due: build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
