Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  after_script:
  - cd backend
  ...

[S12P31A202-257] refactor: Include holiday when auto generation run
  backend/src/main/java/net/dutymate/api/domain/common/utils/YearMonth.java
  backend/src/main/java/net/dutymate/api/global/config/YearMonthConfig.java
Due: build_backend

[S12P31A202-257] style: Fix code style
  backend/gradlew
  backend/src/main/java/net/dutymate/api/domain/common/Holiday.java
  backend/src/main/java/net/dutymate/api/domain/common/repository/HolidayRepository.java
  backend/src/main/java/net/dutymate/api/domain/common/scheduler/HolidayScheduler.java
  backend/src/main/java/net/dutymate/api/domain/common/utils/YearMonth.java
  backend/src/main/java/net/dutymate/api/global/config/YearMonthConfig.java
Due: build_backend

[S12P31A202-263] refactor: Improve date utils and calendar components
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/utils/dateUtils.ts
Due: check_frontend

[S12P31A202-264] feat: Add holiday display feature to calendar
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/services/holidayService.ts
  frontend/src/stores/holidayStore.ts
  frontend/src/utils/dateUtils.ts
Due: check_frontend

[S12P31A202-265] chore: Setup Biome formatter and pre-commit hooks
  frontend/.husky/pre-commit
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P31A202-265] chore: Setup Husky
  frontend/.husky/_/applypatch-msg
  frontend/.husky/_/commit-msg
  frontend/.husky/_/h
  frontend/.husky/_/husky.sh
  frontend/.husky/_/post-applypatch
  frontend/.husky/_/post-checkout
  frontend/.husky/_/post-commit
  frontend/.husky/_/post-merge
  frontend/.husky/_/post-rewrite
  frontend/.husky/_/pre-applypatch
  frontend/.husky/_/pre-auto-gc
  frontend/.husky/_/pre-commit
  frontend/.husky/_/pre-merge-commit
  frontend/.husky/_/pre-push
  frontend/.husky/_/pre-rebase
  frontend/.husky/_/prepare-commit-msg
  frontend/.husky/pre-commit
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P31A202-261] refactor: Enforce auto generation when nurse shortage
  frontend/src/components/organisms/NurseShortageModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P31A202-261] refactor: Change api parameter to enforce auto generation
  backend/src/main/java/net/dutymate/api/domain/autoschedule/controller/AutoScheduleController.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  frontend/src/components/organisms/NurseShortageModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend, build_backend

[S12P31A202-268] feat: Add keyboard navigation support to hospital name dropdown
  frontend/.husky/pre-commit
  frontend/src/components/organisms/CreateWardForm.tsx
  frontend/src/hooks/useKeyboardNavigation.ts
Due: check_frontend

[S12P31A202-269] feat: Add requests in demo
  backend/src/main/java/net/dutymate/api/domain/common/utils/YearMonth.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/request/util/DemoRequestGenerator.java
Due: build_backend

[S12P31A202-246] chore: Skip frontend pre-commit checks if no frontend files changed
  frontend/.husky/pre-commit
Due: check_frontend

[S12P31A202-270] docs: Add til by minsung
  til/김민성/250502/READEME.md
Due: none

[S12P31A202-271] fix: Add exception when social user find password
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
Due: build_backend

[S12P31A202-271] fix: Handle exception when social user find password
  frontend/src/components/organisms/PasswordResetForm.tsx
Due: check_frontend

[S12P31A202-274] feat: Enable duty editing on mobile with floating button UI
  frontend/src/components/atoms/FaultLayer.tsx
  frontend/src/components/atoms/RequestStatusLayer.tsx
  frontend/src/components/molecules/MobileDutyControls.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-272] feat: Add parameter year and month and sort by rule
  backend/src/main/java/net/dutymate/api/domain/wardmember/repository/WardMemberRepository.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/controller/WardScheduleController.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/dto/AllWardDutyResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-272] style: Fix code style
  backend/src/main/java/net/dutymate/api/domain/wardschedules/dto/AllWardDutyResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-272] feat: Enable change month in ward-duty
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P31A202-275] fix: Add request filter when auto genration run
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/request/repository/RequestRepository.java
Due: build_backend

[S12P31A202-282] chore: Add nativewind-related packages to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-283] chore: Add tailwind.config.js
  mobile/tailwind.config.js
Due: none

[S12P31A202-284] chore: Add babel.config.js
  mobile/babel.config.js
Due: none

[S12P31A202-285] chore: Add metro.config.js
  mobile/metro.config.js
Due: none

[S12P31A202-286] chore: Add nativewind-env.d.ts
  mobile/nativewind-env.d.ts
  mobile/tsconfig.json
Due: none

[S12P31A202-287] chore: Add global.css
  mobile/src/styles/global.css
Due: none

[S12P31A202-290] chore: Add global.css to index.ts
  mobile/src/index.ts
Due: none

[S12P31A202-288] feat: Adjust cell size in duty and shift management tables
  frontend/src/components/atoms/FaultLayer.tsx
  frontend/src/components/atoms/RequestStatusLayer.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/pages/TeamShift.tsx
Due: check_frontend

[S12P31A202-278] fix: Add back button in EnterWardForm
  frontend/src/components/organisms/EnterWardForm.tsx
Due: check_frontend

[S12P31A202-278] fix: Fix button color style
  frontend/src/components/organisms/EnterWardForm.tsx
Due: check_frontend

[S12P31A202-276] feat: Add prevShifts in demo
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/util/PreviousScheduleGenerator.java
Due: build_backend

[S12P31A202-276] refactor: Reduce number of requests in demo
  backend/src/main/java/net/dutymate/api/domain/request/util/DemoRequestGenerator.java
Due: build_backend

[S12P31A202-294] refactor: Edit toast messege when read empty ward-duty
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend, build_backend

[S12P31A202-297] refactor: Change news refresh mechanism from scheduled task to api trigger
  backend/src/main/java/net/dutymate/api/domain/community/controller/NewsController.java
  backend/src/main/java/net/dutymate/api/domain/community/service/NewsService.java
  backend/src/main/java/net/dutymate/api/global/config/WebConfig.java
  backend/src/main/resources/application-env.yaml
Due: build_backend

[S12P31A202-295] refactor: Sync timer frontend with server time
  frontend/src/components/atoms/DemoTimer.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/TimeOut.tsx
  frontend/src/stores/userAuthStore.ts
Due: check_frontend

[S12P31A202-277] refactor: Add on delete action to request entity
  backend/src/main/java/net/dutymate/api/domain/request/Request.java
Due: build_backend

[S12P31A202-302] feat: Disable temp nurse features when demo mode
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P31A202-305] chore: Change pre-commit script to check:all
  frontend/.husky/pre-commit
  frontend/package.json
Due: check_frontend

[S12P31A202-298] feat: Improve MyPage UI/UX
  frontend/src/components/organisms/MypageExit.tsx
  frontend/src/components/organisms/MypageExitConfirmModal.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/pages/Mypage.tsx
Due: check_frontend

[S12P31A202-306] feat: Update holiday position in MyDuty calendar
  frontend/src/components/organisms/ExtraInfoForm.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/templates/LandingTemplate.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P31A202-293] feat: Add enter waiting service api logic
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/ward/repository/EnterWaitingRepository.java
Due: build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
