Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*

[S12P31A202-710] feat: Use native screens for withdrawal and ward actions
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/types/global.d.ts
  frontend/src/utils/navigation.ts
  mobile/src/screens/WebViewScreen.tsx
Due: check_frontend

[S12P31A202-712] chore: Declare envs in app.config.ts
  mobile/app.config.ts
  mobile/src/App.tsx
Due: none

[S12P31A202-714] style: Sort import statements for consistency
  mobile/src/api/services/authService.ts
  mobile/src/api/services/userService.ts
  mobile/src/components/createWard/CreateWardForm.tsx
  mobile/src/components/extraInfo/ExtraInfoForm.tsx
  mobile/src/components/login/LoginEmailVerificationForm.tsx
  mobile/src/components/login/LoginForm.tsx
  mobile/src/components/signup/SignupForm.tsx
  mobile/src/hooks/common/useEmailVerification.ts
  mobile/src/screens/LoginScreen.tsx
  mobile/src/screens/WebViewScreen.tsx
  mobile/src/store/userAuthStore.ts
Due: none

[S12P31A202-716] chore: Drop useragent configurations
  mobile/src/api/axios.ts
Due: none

[S12P31A202-718] feat: Set keyboardType in login form input
  mobile/src/components/login/LoginForm.tsx
Due: none

[S12P31A202-696] feat: Add notice page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/Footer.tsx
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Notice/NoticeDetailPage.tsx
  frontend/src/pages/Notice/NoticePage.tsx
  frontend/src/pages/Notice/NoticeWritePage.tsx
  frontend/src/pages/PasswordReset.tsx
  frontend/src/pages/Signup.tsx
  frontend/src/routes/Router.tsx
  frontend/src/stores/userAuthStore.ts
Due: check_frontend

[S12P31A202-696] feat: Add be notice file
  backend/src/main/java/net/dutymate/api/domain/member/dto/LoginResponseDto.java
  frontend/src/pages/Landing.tsx
  frontend/src/stores/userAuthStore.ts
Due: check_frontend, build_backend

[S12P31A202-719] feat: Show contextual error messages on login and signup
  frontend/src/components/organisms/LoginForm.tsx
  mobile/src/api/services/authService.ts
  mobile/src/api/services/userService.ts
  mobile/src/components/login/LoginForm.tsx
  mobile/src/components/signup/SignupForm.tsx
Due: check_frontend

[S12P31A202-720] fix: Fix needed nurse count logic
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
Due: build_backend

[S12P31A202-721] feat: Implement password reset flow in mobile app
  mobile/src/api/services/userService.ts
  mobile/src/components/passwordReset/PasswordResetForm.tsx
Due: none

[S12P31A202] fix: Fix heic error
  backend/src/main/java/net/dutymate/api/domain/common/service/S3Service.java
Due: build_backend

[S12P31A202-726] feat: Add keywords to seo
  frontend/src/components/SEO.tsx
Due: check_frontend

[S12P31A202-727] feat: Add email verification step to login flow in mobile
  mobile/src/api/services/authService.ts
  mobile/src/components/login/LoginEmailVerificationForm.tsx
  mobile/src/components/login/LoginForm.tsx
Due: none

[S12P31A202-733] chore: Set nginx client_max_body_size to 30M
  infrastructure/Modules/ECS/main.tf
Due: check_infrastructure

[S12P31A202-737] feat: Update email vertification text
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
Due: build_backend

[S12P31A202-735] feat: Add more special charactors to password reset input regex
  mobile/src/components/passwordReset/PasswordResetForm.tsx
Due: none

[S12P31A202-703] refactor: Change app.config.ts file
  mobile/app.config.ts
  mobile/src/App.tsx
  mobile/src/api/services/authService.ts
  mobile/src/components/login/LoginForm.tsx
Due: none

[S12P31A202-703] fix: Fix android google login
  mobile/GoogleService-Info.plist
  mobile/google-services.json
  mobile/src/App.tsx
  mobile/src/api/services/authService.ts
  mobile/src/components/login/LoginForm.tsx
  mobile/src/components/signup/SignupForm.tsx
Due: none

[S12P31A202-743] docs: Add til by minsung
  til/김민성/250521/README.md
Due: none

[S12P31A202-738] fix: Enable changing email when verificaition
  frontend/src/components/organisms/PasswordResetForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P31A202-738] fix: Change timer logic
  frontend/src/hooks/useEmailVerification.ts
Due: check_frontend

[S12P31A202-744] fix: Add symbol when reset password
  frontend/src/components/organisms/PasswordResetForm.tsx
Due: check_frontend

[S12P31A202-746] fix: Change timer loginc in mobile
  mobile/src/hooks/common/useEmailVerification.ts
Due: none

[S12P31A202-745] fix: Send messege if email not exist
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
Due: build_backend

[S12P31A202-747] fix: Delete duplicated loading spinner
  mobile/src/screens/WebViewScreen.tsx
Due: none

[S12P31A202-749] fix: Allow 25 temp nurse
  backend/src/main/java/net/dutymate/api/domain/ward/dto/AddNurseCntRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend, build_backend

[S12P31A202-748] feat: Add keyboard avoiding view
  mobile/src/layout/Layout.tsx
Due: none

[S12P31A202-752] fix: Fix Footer and paymodal and duty text
  frontend/src/components/organisms/Footer.tsx
  frontend/src/components/organisms/PaymentModal.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/NurseGroupPage.tsx
Due: check_frontend

[S12P31A202-754] docs: Add TIL by seohyun
  til/김서현/250512/README.md
Due: none

[S12P31A202-759] docs: Add til by seohyun
  til/김서현/250515/README.md
Due: none

[S12P31A202-752] fix: Fix duty name
  frontend/src/components/organisms/PaymentModal.tsx
Due: check_frontend

[S12P31A202-756] docs: Add til by seohyun
  til/김서현/250514/README.md
Due: none

[S12P31A202-755] docs: Add TIL by seohyun
  til/김서현/250513/README.md
Due: none

[S12P31A202-766] docs: Add til by seohyun
  til/김서현/250521/README.md
Due: none

[S12P31A202-761] docs: Add til by seohyun
  til/김서현/250516/README.md
Due: none

[S12P31A202-764] docs: Add til by seohyun
  til/김서현/250519/README.md
Due: none

[S12P31A202-759] docs: Add til by seohyun2
  til/김서현/250515/README.md
Due: none

[S12P31A202-765] docs: Add til by seohyun
  til/김서현/250520/README.md
Due: none
