Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*

[S12P31A202-109] docs: Update 250424 TIL
  til/김현진/250424/README.md
Due: none

[S12P31A202-46] feat: Update login email and password placeholders
  frontend/src/components/organisms/LoginForm.tsx
Due: check_frontend

[S12P31A202-106] fix: Hide ward code for demo account
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
Due: build_backend

[S12P31A202-118] docs: Add TIL by jongwooo
  til/한종우/250425/README.md
Due: none

[S12P31A202-115] docs: Add TIL by jaehyun
  til/이재현/250425/README.md
Due: none

[S12P31A202-112] docs: Add TIL by seohyun
  til/김서현/250425/README.md
Due: none

[S12P31A202-117] docs: Update TIL by hyunjin
  til/김현진/250425/README.md
Due: none

[S12P31202-119] fix: Fix mobile mid representation bug
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-120] refactor: Manage statgement auto-gen-cnt
  frontend/src/components/organisms/AutoGenCountModal.tsx
  frontend/src/components/organisms/AutoGenerateConfirmModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-122] chore: Disable devtools when prod
  backend/src/main/resources/application-env.yaml
Due: build_backend

[S12P31A202-123] refactor: Modfiy auto gen cnt in demo
  backend/src/main/java/net/dutymate/api/domain/member/Member.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/GoogleUserResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/KakaoUserResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/SignUpRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-128] feat: Set weekday day count to 2
  backend/src/main/java/net/dutymate/api/domain/rule/Rule.java
Due: build_backend

[S12P31A202-126] feat: Add payment text
  frontend/src/components/organisms/PaymentModal.tsx
Due: check_frontend

[S12P31A202-131] fix: Set default auto gen cnt when make temp nurse
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
Due: build_backend

[S12P31A202-116] feat: Add temp nurse when demo login
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/WardMember.java
  backend/src/main/resources/application.yaml
Due: build_backend

[S12P31A202-133] feat: Make modal when auto gen cnt is zero
  frontend/src/components/organisms/AutoGenerateConfirmModal.tsx
  frontend/src/components/organisms/DemoSignupModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-137] docs: Add TIL by minsung
  til/김민성/250425/README.md
Due: none

[S12P31A202-139] docs: Add til by minsung
  til/김민성/250428/READEME.md
Due: none

[S12P31A202-135] refactor: Optimize bulk demo account deletion API
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/ward/repository/WardRepository.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/repository/WardScheduleRepository.java
Due: build_backend

[S12P31A202-132] feat: Resctrict demo sidebar and download
  frontend/src/components/atoms/Profile.tsx
  frontend/src/components/atoms/Tooltip.tsx
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ReqAdmin.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/pages/TeamShift.tsx
  frontend/src/pages/WardAdmin.tsx
  frontend/src/routes/Router.tsx
Due: check_frontend

[S12P31A202-132] feat: Add npm run format fix
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-136] feat: Add notification in landing page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/UpdateNoticeModal.tsx
  frontend/src/pages/Landing.tsx
  package-lock.json
  package.json
Due: check_frontend

[S12P31A202-136] fix: Delete unnecessary package.json file
  package-lock.json
  package.json
Due: none

[S12P31A202-136] refactor: Update time 60min to 10
  frontend/src/components/atoms/DemoTimer.tsx
  frontend/src/components/atoms/Profile.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-136] fix: Fix fe code style
  frontend/src/components/atoms/Profile.tsx
Due: check_frontend

[S12P31A202-140] docs: Add TIL by taeho
  til/임태호/250428/README.md
Due: none

[S12P31A202-142] docs: Add TIL by hynujin
  til/김현진/250428/README.md
Due: none

[S12P31A202-129] feat: Add gtm tag in basic buttons
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P31A202-143] docs: Add TIL by jongwooo
  til/한종우/250428/README.md
Due: none

[S12P31A202-144] docs: Add TIL by jaehyun
  til/이재현/250428/README.md
Due: none

[S12P31A202-125] docs: Add TIL by seohyun
  til/김서현/250428/README.md
Due: none

[S12P31A202-149] feat: Block signup and login for demo accounts
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P31A202-152] chore: Remove unnecessary scripts
  .gitlab-ci.yml
  backend/scripts/ci/generate-codequality-report-from-checkstyle.sh
Due: build_backend

[S12P31A202-150] fix: Block signup and login with demo email
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-154] feat: Withdraw temporary nurse on expel
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/service/WardMemberService.java
Due: build_backend

[S12P31A202-156] feat: Update PaymentModal 'X' button for GTM tracking
  frontend/src/components/organisms/PaymentModal.tsx
Due: check_frontend

[S12P31A202-158] refactor: Exclude mid duty in auto-genration
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
Due: build_backend

[S12P31A202-155] fix: Allow ward exit with only temp nurse
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-161] feat: Add conditional padding in Input component based on presence of rightElement
  frontend/src/components/atoms/Input.tsx
Due: check_frontend

[S12P31A202-162] feat: Add resetVerification method
  frontend/src/hooks/useEmailVerification.ts
Due: check_frontend
