Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*

[S12P31A202-50] feat: Add only mid duty nurse scheduler
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
  backend/src/main/java/net/dutymate/api/global/enums/Shift.java
  backend/src/main/java/net/dutymate/api/global/enums/ShiftType.java
Due: build_backend

[S12P31A202-48] feat: Add mid pattern check
  backend/src/main/java/net/dutymate/api/domain/wardschedules/util/DutyAutoCheck.java
Due: build_backend

[S12P31A202-32] feat: Add email verification feature
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
  backend/src/main/java/net/dutymate/api/global/config/WebConfig.java
  backend/src/main/java/net/dutymate/api/global/enums/EmailVerificationResult.java
Due: build_backend

[S12P31A202-32] feat: Add google smtp gradle
  backend/build.gradle
  backend/src/main/resources/application-env.yaml
Due: build_backend

[S12P31A202-32] feat: Add email verification request Dto
  backend/src/main/java/net/dutymate/api/domain/member/dto/SendCodeRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/VerifyCodeRequestDto.java
Due: build_backend

[S12P31A202-32] fix: Fix code checkstyle
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
  backend/src/test/java/net/dutymate/api/ApiApplicationTests.java
Due: build_backend

[S12P31A202-32] feat: Change email style to html code
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
Due: build_backend

[S12P31A202-53] feat: Make demo landing page
  frontend/src/pages/Landing.tsx
Due: check_frontend

[S12P31A202-54] feat: Add mid button
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/atoms/DutyBadgeEng.tsx
  frontend/src/components/atoms/DutyBadgeKor.tsx
  frontend/src/components/atoms/KeyboardGuide.tsx
  frontend/src/components/organisms/HistoryList.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/services/dutyService.ts
  frontend/src/services/wardService.ts
  frontend/src/utils/dutyUtils.ts
  frontend/tailwind.config.js
Due: check_frontend

[S12P31A202-58] docs: Add TIL by jongwooo
  homework/jongwooo/250422/README.md
Due: none

[S12P31A202-63] docs: Add TIL by seohyun
  homework/seohyun/250422/README.md
Due: none

[S12P31A202-62] dosc: Add TIL by minsung
  homework/김민성/250422/README.md
  homework/김민성/250422/image (10).png
  homework/김민성/250422/image.png
Due: none

[S12P31A202-59] docs: Add TIL by taeho
  homework/taeho/README.md
Due: none

[S12P31A202-61] docs: Add til by hyunjin
  homework/hyunjin/250422/README.md
Due: none

[S12P31A202-23] refactor: Extract used magic numbers into constants
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/member/util/StringGenerator.java
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
Due: build_backend

[S12P31A202-52] refactor: Add isVerified in auth login
  backend/src/main/java/net/dutymate/api/domain/member/dto/GoogleUserResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/KakaoUserResponseDto.java
Due: build_backend

[S12P31A202-65] chore: Cleanup til folder
  til/김민성/250422/README.md
  til/김민성/250422/image (10).png
  til/김민성/250422/image.png
  til/김서현/250422/README.md
  til/김태호/250422/README.md
  til/김현진/250422/README.md
  til/한종우/250422/README.md
Due: none

[S12P31A202-52] refactor: Add isVerified Column in Member Entity
  backend/src/main/java/net/dutymate/api/global/entity/Member.java
Due: build_backend

[S12P31A202-61] docs: Update TIL
  homework/hyunjin/250422/README.md
Due: none

[S12P31A202-52] refactor: Add login exception handler
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-23] feat: Add demo login and delete demo member features
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/SignUpRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/member/repository/MemberRepository.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/member/util/StringGenerator.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/service/WardMemberService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/repository/WardScheduleRepository.java
  backend/src/main/java/net/dutymate/api/global/auth/jwt/JwtUtil.java
  backend/src/main/java/net/dutymate/api/global/config/WebConfig.java
  backend/src/main/java/net/dutymate/api/global/entity/Member.java
  backend/src/main/resources/application-env.yaml
Due: build_backend

[S12P31A202-52] refactor: Add email exception
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
  backend/src/main/java/net/dutymate/api/global/config/WebConfig.java
Due: build_backend

[S12P31A202-52] feat: Update verified email
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/UpdateEmailVerificationRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/global/entity/Member.java
Due: build_backend

[S12P31A202-52] fix: Fix code checkstyle
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-24] feat: Add is demo field in demo login
  backend/src/main/java/net/dutymate/api/domain/member/dto/LoginResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-56] feat: Add needed nurse count with mid nurse
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
Due: build_backend

[S12P31A202-52] refactor: Add EmailNotVerifiedException handler
  backend/src/main/java/net/dutymate/api/global/exception/EmailNotVerifiedException.java
  backend/src/main/java/net/dutymate/api/global/exception/GlobalExceptionHandler.java
Due: build_backend

[S12P31A202-66] feat: Connect channel talk service
  frontend/src/App.tsx
  frontend/src/components/organisms/ChannelTalkLoader.tsx
  frontend/src/services/channelService.ts
Due: check_frontend

[S12P31A202-73] docs: Add TIL by taeho
  til/임태호/250422/README.md
  til/임태호/250423/README.md
Due: none

[S12P31A202-29] fix: Resolve issue preventing withdrawal in specific cases
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/service/WardMemberService.java
Due: build_backend

[S12P31A202-70] dosc: Add TIL by minsung
  til/김민성/250423/README.md
Due: none

[S12P31A202-74] feat: Add generating count to member entity
  backend/src/main/java/net/dutymate/api/global/entity/Member.java
Due: build_backend

[S12P31A202-55] feat: Add demo wsidebar and community and mypage
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/atoms/Profile.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/MypageExit.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/store/userAuthStore.ts
Due: check_frontend

[S12P31A202-55] fix: Demo timer error
  frontend/src/components/atoms/Profile.tsx
  frontend/src/components/organisms/MypageExit.tsx
  frontend/src/components/organisms/MypagePassword.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/store/userAuthStore.ts
Due: check_frontend

[S12P31A202-55] fix: Restrict community comment and wardcode
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
Due: check_frontend

[S12P31A202-55] fix: Fix npm run foramt:fix
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/atoms/Profile.tsx
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/MypageExit.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/store/userAuthStore.ts
Due: check_frontend

[S12P31A202-64] docs: Add TIL by jongwooo
  til/한종우/250423/README.md
Due: none

[S12P31A202-75] docs: Add TIL by seohyun
  til/김서현/250423/README.md
Due: none

[S12P31A202-77] docs: Add TIL by jaehyun
  til/이재현/250422/README.md
Due: none
