Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  after_script:
  - cd backend
  ...

[S12P31A202-417] feat: Add random image to S3
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupCreateRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/pages/Group/NurseGroupPage.tsx
  frontend/src/services/groupService.ts
Due: check_frontend, build_backend

[S12P31A202-429] feat: Set webview container background color to muted-30
  mobile/src/components/webview/WebViewContainer.tsx
Due: none

[S12P31A202-427] feat: Add group page block when demo
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/WSidebar.tsx
Due: check_frontend

[S12P31A202-419] feat: Add invite group member by link
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/Group/InviteMemberModal.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupInvitePage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/routes/Router.tsx
Due: check_frontend

[S12P31A202-419] refactor: Refactor invitation link error page
  frontend/src/pages/Group/GroupInvitePage.tsx
Due: check_frontend

[S12P31A202-416] feat: Add admin request modal
  backend/src/main/java/net/dutymate/api/domain/request/Request.java
  backend/src/main/java/net/dutymate/api/domain/request/controller/RequestController.java
  backend/src/main/java/net/dutymate/api/domain/request/dto/RequestCreateByAdminDto.java
  backend/src/main/java/net/dutymate/api/domain/request/service/RequestService.java
  frontend/src/components/organisms/AdminReqShiftModal.tsx
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/pages/ReqAdmin.tsx
  frontend/src/services/requestService.ts
Due: check_frontend, build_backend

[S12P31A202-416] feat: Sort request by status and created time
  backend/src/main/java/net/dutymate/api/domain/request/controller/RequestController.java
  backend/src/main/java/net/dutymate/api/domain/request/dto/RequestCreateByAdminDto.java
  backend/src/main/java/net/dutymate/api/domain/request/dto/WardRequestResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/request/service/RequestService.java
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/services/requestService.ts
Due: check_frontend, build_backend

[S12P31A202-402] feat: Connect calendar api
  backend/src/main/java/net/dutymate/api/domain/calendar/controller/CalendarController.java
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ScheduleEditModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/services/calendarService.ts
  frontend/src/stores/calendarStore.ts
Due: check_frontend, build_backend

[S12P31A202-402] fix: Delete console
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ScheduleEditModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/services/calendarService.ts
Due: check_frontend

[S12P31A202-402] fix: Connect colorpicker mobile version
  frontend/src/components/organisms/TodayShiftModal.tsx
Due: check_frontend

[S12P31A202-434] chore: Add react-navigation-related packages to dependencies
  mobile/package-lock.json
  mobile/package.json
  mobile/src/screens/WebViewScreen.tsx
Due: none

[S12P31A202-437] feat: Add navigation container configurations
  mobile/src/App.tsx
Due: none

[S12P31A202-435] refactor: Rename from WebViewContainer to WebViewScreen
  mobile/src/screens/WebViewScreen.tsx
Due: none

[S12P31A202-436] feat: Add LandingScreen
  mobile/src/screens/LandingScreen.tsx
Due: none

[S12P31A202-438] feat: Add Layout component
  mobile/src/components/layout/Layout.tsx
  mobile/src/screens/LandingScreen.tsx
  mobile/src/screens/WebViewScreen.tsx
Due: none

[S12P31A202-414] fix: Fix routing for non-assigned ward staff nurse
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/organisms/EnterWardForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/components/organisms/WaitingForApproval.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/routes/Router.tsx
Due: check_frontend, build_backend

[S12P31A202-415] fix: Add pagenation and fix mobile view
  frontend/src/components/organisms/ReqAdminTable.tsx
Due: check_frontend

[S12P31A202-439] refactor: Impove code-reusability
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
  backend/src/main/java/net/dutymate/api/global/config/WebConfig.java
Due: build_backend

[S12P31A202-444] feat: Update signup and password reset text size
  frontend/src/components/organisms/LoginForm.tsx
Due: check_frontend

[S12P31A202-445] feat: Resize AuthCodeInput component
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P31A202-446] refactor: Use AuthCodeInput component in PasswordResetForm page
  frontend/src/components/organisms/PasswordResetForm.tsx
  frontend/src/hooks/useEmailVerification.ts
Due: check_frontend

[S12P31A202-442] feat: Add month pagination
  backend/src/main/java/net/dutymate/api/domain/request/controller/RequestController.java
  backend/src/main/java/net/dutymate/api/domain/request/service/RequestService.java
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/services/requestService.ts
Due: check_frontend, build_backend

[S12P31A202-448] chore: Update pre-commit to remove auto git add after check
  frontend/.husky/pre-commit
  frontend/package.json
Due: check_frontend

[S12P31A202-450] docs: Update role in README.md
  README.md
Due: none

[S12P31A202-422] chore: Remove console.log from survey component
  frontend/src/components/organisms/SurveyModal.tsx
  frontend/src/components/organisms/SurveyProvider.tsx
Due: check_frontend

[S12P31A202-453] feat: Set marginTop to status bar height
  mobile/src/screens/WebViewScreen.tsx
Due: none

[S12P31A202-456] feat: Implement back navigation between navigation and webview
  mobile/src/App.tsx
  mobile/src/screens/WebViewScreen.tsx
Due: none

[S12P31A202-454] fix: Split request api to fix bug
  backend/src/main/java/net/dutymate/api/domain/request/controller/RequestController.java
  backend/src/main/java/net/dutymate/api/domain/request/service/RequestService.java
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/services/requestService.ts
Due: check_frontend, build_backend

[S12P31A202-441] feat: Add unjoined ward modal
  frontend/src/components/atoms/CustomButton.tsx
  frontend/src/components/organisms/EnterWardForm.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/components/organisms/WaitingForApproval.tsx
  frontend/src/pages/TeamShift.tsx
Due: check_frontend

[S12P31A202-460] fix: Replace toast.update with new toast to fix auto-close bug
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/UnreflectedRequestsModal.tsx
Due: check_frontend

[S12P31A202-451] refactor: Keep night shift continuity
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/FixScheduleGenerator.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
Due: build_backend

[S12P31A202-440] fix: Hide leave ward component in MyPage for unassigned users
  backend/src/main/java/net/dutymate/api/domain/member/dto/EditRoleRequestDto.java
Due: build_backend

[S12P31A202-440] fix: Hide leave ward component in MyPage for unassigned users
  backend/src/main/java/net/dutymate/api/domain/member/Member.java
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/EditRoleRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/service/WardMemberService.java
  frontend/src/components/organisms/ExtraInfoForm.tsx
  frontend/src/components/organisms/MypageExitConfirmModal.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/KakaoRedirect.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/services/profileService.ts
  frontend/src/stores/userAuthStore.ts
Due: check_frontend, build_backend

[S12P31A202-463] fix: Fix today's shift list API error for unassigned nurse
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-468] feat: Use useFonts to apply font family
  mobile/src/App.tsx
Due: none

[S12P31A202-469] feat: Implement StyledText component
  mobile/src/components/text/StyledText.tsx
  mobile/src/screens/LandingScreen.tsx
Due: none

[S12P31A202-466] chore: Add expo-font to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-420] refactor: Add invitation link with open graph
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupInviteSuccessResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
  frontend/src/components/organisms/Group/InviteMemberModal.tsx
  frontend/src/pages/Group/GroupInvitePage.tsx
Due: check_frontend, build_backend

[S12P31A202-420] refactor: Fix group style
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/Group/CheckMemberModal.tsx
  frontend/src/components/organisms/Group/DateSuggestionModal.tsx
  frontend/src/components/organisms/Group/GroupLayout.tsx
  frontend/src/components/organisms/Group/InviteMemberModal.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/pages/Group/NurseGroupPage.tsx
  frontend/src/services/groupService.ts
  frontend/src/types/group.ts
Due: check_frontend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
