Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*

[S12P31A202-420] refactor: Refactor group member table
  frontend/src/pages/Group/GroupMemberPage.tsx
Due: check_frontend

[S12P31A202-474] refactor: Move StyledText component to styled package
  mobile/src/components/styled/StyledText.tsx
  mobile/src/screens/LandingScreen.tsx
Due: none

[S12P31A202-476] refactor: Move Layout component to layout package
  mobile/src/layout/Layout.tsx
  mobile/src/screens/LandingScreen.tsx
  mobile/src/screens/WebViewScreen.tsx
Due: none

[S12P31A202-459] fix: Fix Web title size
  frontend/src/components/organisms/WaitingForApproval.tsx
Due: check_frontend

[S12P31A202-459] feat: Add unjoinmodal to todayshiftmodal
  frontend/src/components/organisms/JoinWardGuideModal.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/components/organisms/WaitingForApproval.tsx
Due: check_frontend

[S12P31A202-459] feat: Add JoinWardGuideModal
  frontend/src/components/organisms/JoinWardGuideModal.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
Due: check_frontend

[S12P31A202-478] feat/ Fix colorpickermodal's badge connection
  frontend/src/components/organisms/ShiftColorPickerModal.tsx
Due: check_frontend

[S12P31A202-478] fix: prevshift in myshiftcalendar
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
Due: check_frontend

[S12P31A202-478] fix: Fix blink error
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P31A202-422] feat: Connect survey modal to Google Sheet API
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/SurveyModal.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/pages/Landing.tsx
Due: check_frontend

[S12P31A202-422] feat: Improve survey UI/UX and add cookie-based visibility control
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/SurveyModal.tsx
  frontend/src/components/organisms/SurveyProvider.tsx
  frontend/src/components/organisms/WSidebar.tsx
Due: check_frontend

[S12P31A202-471] feat: Add schedule color update API
  backend/src/main/java/net/dutymate/api/domain/calendar/Calendar.java
  backend/src/main/java/net/dutymate/api/domain/calendar/dto/CalendarRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/calendar/dto/CalendarResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/calendar/repository/CalendarRepository.java
  backend/src/main/java/net/dutymate/api/domain/calendar/service/CalendarService.java
  backend/src/main/java/net/dutymate/api/domain/color/Color.java
  backend/src/main/java/net/dutymate/api/domain/color/controller/ColorController.java
  backend/src/main/java/net/dutymate/api/domain/color/dto/ColorDto.java
  backend/src/main/java/net/dutymate/api/domain/color/repository/ColorRepository.java
  backend/src/main/java/net/dutymate/api/domain/color/service/ColorService.java
  backend/src/main/java/net/dutymate/api/domain/member/Member.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/LoginResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-357] refactor: Refactor ShiftAdminTable and extract useShiftExport hook
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/hooks/useShiftExport.ts
Due: check_frontend

[S12P31A202-357] refactor: Refactor ShiftAdminTable and extract controls component
  frontend/src/components/molecules/ShiftTableControls.tsx
Due: check_frontend

[S12P31A202-482] misc: Update local variable key name in eventbridge module
  infrastructure/Modules/EventBridge/main.tf
Due: check_infrastructure

[S12P31A202-480] docs: Add TIL by jongwooo
  til/한종우/250512/README.md
Due: none

[S12P31A202-418] fix: Fix backend code checkstyle
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupDetailResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-418] feat: Add prev and next 7day duty in group
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupDetailResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/types/group.ts
Due: check_frontend, build_backend

[S12P31A202-418] fix: Fix code style
  frontend/src/pages/Group/GroupDetailPage.tsx
Due: check_frontend

[S12P31A202-485] feat: Implement WaveBackground component
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/background/WaveBackground.tsx
  mobile/src/layout/Layout.tsx
  mobile/src/screens/WebViewScreen.tsx
Due: none

[S12P31A202-433] feat: Add workIntensity wardmember entity
  backend/src/main/java/net/dutymate/api/domain/ward/dto/WardInfoResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/WardMember.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/WorkIntensity.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/dto/NurseInfoRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/service/WardMemberService.java
Due: build_backend

[S12P31A202-433] feat: Remake ward admin table to use work intensity
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
  frontend/src/components/atoms/Icon.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
  frontend/src/services/wardService.ts
  frontend/src/stores/wardStore.ts
Due: check_frontend, build_backend

[S12P31A202-433] feat: Add individual off setting in auto-scheduling
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
Due: build_backend

[S12P31A202-421] feat: Show survey again 1 day after user cancels
  frontend/src/components/organisms/SurveyModal.tsx
  frontend/src/components/organisms/SurveyProvider.tsx
Due: check_frontend

[S12P31A202-489] feat: Add GTM tag to new modal for user interaction tracking
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/molecules/NurseShortageAlert.tsx
  frontend/src/components/organisms/AutoGenCountModal.tsx
  frontend/src/components/organisms/AutoGenerateConfirmModal.tsx
  frontend/src/components/organisms/NurseShortageModal.tsx
  frontend/src/components/organisms/RequestCheckModal.tsx
  frontend/src/components/organisms/SurveyModal.tsx
  frontend/src/components/organisms/UnreflectedRequestsModal.tsx
Due: check_frontend

[S12P31A202-487] chore: Bump version to v2.3.0
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend, build_backend

[S12P31A202-492] chore: Disable react-native-reanimated strict mode
  mobile/src/App.tsx
Due: none

[S12P31A202-397] feat: Implement Button component
  mobile/src/components/button/Button.tsx
  mobile/src/screens/LandingScreen.tsx
Due: none

[S12P31A202-494] refactor: Rename package from styled to custom
  mobile/src/components/custom/StyledText.tsx
  mobile/src/screens/LandingScreen.tsx
Due: none

[S12P31A202-491] fix: Fix ward creation issue with RN
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
  frontend/src/components/organisms/MypageProfile.tsx
Due: check_frontend, build_backend

[S12P31A202-496] fix: Keep react hooks rule
  frontend/src/components/organisms/AutoGenerateConfirmModal.tsx
Due: check_frontend

[S12P31A202-495] fix: Handle duty schedule error caused by withdrawn users
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-497] feat: Update announcement content to version V2.3.0
  frontend/package-lock.json
  frontend/package.json
  frontend/public/updateNotice.md
  frontend/src/components/organisms/UpdateNoticeModal.tsx
Due: check_frontend

[S12P31A202-478] feat: Add existMyWard function
  frontend/src/components/organisms/TodayShiftModal.tsx
Due: check_frontend

[S12P31A202-478] feat: Add connection work crud api
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P31A202-498] feat: Update landing page text content
  frontend/src/components/templates/LandingTemplate.tsx
Due: check_frontend

[S12P31A202-503] refactor: Change file extension from .js to .ts
  mobile/app.config.ts
Due: none

[S12P31A202-506] feat: Implement Landing screen
  mobile/assets/images/text-logo.svg
  mobile/src/screens/LandingScreen.tsx
Due: none

[S12P31A202-501] chore: Add react-native-svg-transformer to devDependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-504] chore: Add declarations.d.ts
  mobile/declarations.d.ts
  mobile/tsconfig.json
Due: none
