Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  after_script:
  - cd backend
  ...

[S12P31A202-293] feat: Add enter waiting cancel button
  frontend/src/components/atoms/Button.tsx
  frontend/src/components/organisms/EnterWardForm.tsx
  frontend/src/components/organisms/WaitingForApproval.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/KakaoRedirect.tsx
  frontend/src/services/userService.ts
Due: check_frontend

[S12P31A202-293] refactor: Add comment
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-298] feat: Change logout button color
  frontend/src/pages/Mypage.tsx
Due: check_frontend

[S12P31A202-309] refactor: Change auto gen count
  backend/src/main/java/net/dutymate/api/domain/member/dto/GoogleUserResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/KakaoUserResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-300] chore: Bump version to v2.2.0
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend, build_backend

[S12P31A202-311] chore: Add -Xmx768m jvm flags
  backend/build.gradle
Due: build_backend

[S12P31A202-313] chore: Add egress configuration for http
  infrastructure/Modules/SecurityGroup/main.tf
Due: check_infrastructure

[S12P31A202-316] docs: Add TIL by jongwooo
  til/한종우/250507/README.md
Due: none

[S12P31A202-315] docs: Add TIL by seohyun
  til/김서현/250507/README.md
Due: none

[S12P31A202-319] docs: Add TIL by jaehyun
  til/이재현/250507/README.md
Due: none

[S12P31A202-318] misc: Remove sysout from MemberService class
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-320] fix: Fix my-shift button location
  frontend/src/components/organisms/MyShiftCalendar.tsx
Due: check_frontend

[S12P31A202-324] refactor: Change holiday update mechanism from scheduled task to api trigger
  backend/src/main/java/net/dutymate/api/domain/common/scheduler/HolidayScheduler.java
  backend/src/main/java/net/dutymate/api/domain/holiday/controller/HolidayController.java
  backend/src/main/java/net/dutymate/api/domain/holiday/service/HolidayService.java
  backend/src/main/java/net/dutymate/api/global/config/WebConfig.java
  backend/src/main/resources/application-env.yaml
Due: build_backend

[S12P31A202-326] refactor: Change method from post to put
  backend/src/main/java/net/dutymate/api/domain/community/controller/NewsController.java
Due: build_backend

[S12P31A202-321] fix: Sync timer in demo
  frontend/src/components/organisms/DemoSignupModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-321] feat: Add sign-up button in demo timer
  frontend/src/components/atoms/DemoTimer.tsx
  frontend/src/components/atoms/Profile.tsx
Due: check_frontend

[S12P31A202-327] fix: Fix build error
  frontend/src/components/organisms/PaymentModal.tsx
Due: check_frontend

[S12P31A202-332] fix: Limit number of characters nickname and name field
  backend/src/main/java/net/dutymate/api/global/config/WebConfig.java
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/lib/axios.ts
Due: check_frontend, build_backend

[S12P31A202-334] chore: Drop nativewind
  mobile/babel.config.js
  mobile/metro.config.js
  mobile/nativewind-env.d.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/src/index.ts
  mobile/src/styles/global.css
  mobile/tailwind.config.js
  mobile/tsconfig.json
Due: none

[S12P31A202-330] fix: Add cancel entering ward exception'
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/ward/repository/EnterWaitingRepository.java
Due: build_backend

[S12P31A202-330] fix: Add error navigate when cancel entering button
  frontend/src/components/organisms/WaitingForApproval.tsx
Due: check_frontend

[S12P31A202-329] fix: Link temporary nurse to entrance member
  backend/src/main/java/net/dutymate/api/domain/member/Member.java
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/WardMember.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/collections/WardSchedule.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/repository/WardScheduleRepository.java
Due: build_backend

[S12P31A202-322] refactor: Change request state in demo
  backend/src/main/java/net/dutymate/api/domain/request/util/DemoRequestGenerator.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/util/PreviousScheduleGenerator.java
Due: build_backend

[S12P31A202-343] docs: Add TIL by Jaehyun
  til/이재현/250508/README.md
Due: none

[S12P31A202-339] docs: Add TIL by seohyun
  til/김서현/250508/README.md
Due: none

[S12P31A202-340] docs: Add TIL by jongwooo
  til/한종우/250508/README.md
Due: none

[S12P31A202-391] docs: Add TIL by huunjin
  til/김현진/250508/README.md
Due: none

[S12P31A202-280] feat: Add member schedule features
  backend/src/main/java/net/dutymate/api/domain/common/utils/YearMonth.java
  backend/src/main/java/net/dutymate/api/domain/member/Member.java
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/collections/MemberSchedule.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/controller/WardScheduleController.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/dto/EditMemberDutyRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/repository/MemberScheduleRepository.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-337] feat: Fetch duty schedules by ward entry date
  backend/src/main/java/net/dutymate/api/domain/member/Member.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/service/WardMemberService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-337] fix: Delete member schedule when delete member
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/repository/MemberScheduleRepository.java
Due: build_backend

[S12P31A202-303] feat: Add request check modal before auto generation
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/RequestCheckModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/pages/ShiftAdmin.tsx
Due: check_frontend

[S12P31A202-303] feat: Add state management hold-request count
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/services/requestService.ts
  frontend/src/stores/requestCountStore.ts
Due: check_frontend

[S12P31A202-344] docs: Add TIL by jaehyun
  til/이재현/250509/README.md
Due: none

[S12P31A202-347] chore: Update viewport meta tag to disable zooming in mobile webview
  frontend/index.html
Due: check_frontend

[S12P31A202-335] feat: Add filter accepted request
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/request/repository/RequestRepository.java
Due: build_backend

[S12P31A202-335] feat: Add unreflected requests in response dto
  backend/src/main/java/net/dutymate/api/domain/autoschedule/dto/AutoScheduleResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
Due: build_backend

[S12P31A202-335] style: Fix code style
  backend/src/main/java/net/dutymate/api/domain/autoschedule/dto/AutoScheduleResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/request/repository/RequestRepository.java
Due: build_backend

[S12P31A202-360] feat: Show approved work badge in demo version
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/hooks/useApplyAcceptedRequestsDemoOnly.ts
  frontend/src/pages/ShiftAdmin.tsx
Due: check_frontend

[S12P31A202-363] fix: Prevent ChannelTalk script duplication issue
  frontend/src/components/organisms/ChannelTalkLoader.tsx
Due: check_frontend

[S12P31A202-354] feat: Implement webview
  mobile/src/App.tsx
Due: none

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
