Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  after_script:
  - cd backend
  ...

[S12P31A202-214] chore: Update typescript configurations
  mobile/tsconfig.app.json
  mobile/tsconfig.json
  mobile/tsconfig.node.json
Due: none

[S12P31A202-218] chore: Ignore *.env files
  mobile/.gitignore
Due: none

[S12P31A202-220] chore: Update tsconfig.json configurations
  mobile/tsconfig.json
Due: none

[S12P31A202-223] chore: Update biome configurations
  mobile/biome.json
Due: none

[S12P31A202-216] chore: Update frontend project name to dutymate-web
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P31A202-203] docs: Add TIL by jongwooo
  til/한종우/250430/README.md
Due: none

[S12P31A202-221] docs: Add TIL by hyunjin
  til/김현진/250430/README.md
Due: none

[S12P31A202-224] docs: Add TIL by taeho
  til/임태호/250430/README.md
  til/임태호/250430/image.png
Due: none

[S12P31A202-225] docs: Add TIL by seohyun
  til/김서현/250430/README.md
Due: none

[S12P31A202-226] docs: Add TIL by jaehyun
  til/이재현/250430/README.md
Due: none

[S12P31A202-228] docs: Add TIL by jaehyun
  frontend/index.html
  til/이재현/250502/README.md
Due: check_frontend

[S12P31A202-229] docs: Add TIL by minsung
  til/김민성/250430/README.md
Due: none

[S12P31A202-231] refactor: Edit api including request ID
  backend/src/main/java/net/dutymate/api/domain/request/dto/MyRequestResponseDto.java
Due: build_backend

[S12P31A202-231] feat: Add delete api in request
  backend/src/main/java/net/dutymate/api/domain/request/controller/RequestController.java
  backend/src/main/java/net/dutymate/api/domain/request/service/RequestService.java
Due: build_backend

[S12P31A202-231] feat: Add delete button in my request
  frontend/src/components/organisms/ReqShiftModal.tsx
  frontend/src/services/requestService.ts
Due: check_frontend

[S12P31A202-231] style: Edit delete icons and location
  frontend/src/components/organisms/ReqShiftModal.tsx
Due: check_frontend

[S12P31A202-231] style: Resize delete-icon and change color
  frontend/src/components/organisms/ReqShiftModal.tsx
Due: check_frontend

[S12P31A202-233] feat: Enable hospital name search functionality
  frontend/src/components/organisms/CreateWardForm.tsx
  frontend/src/utils/textUtils.ts
Due: check_frontend

[S12P31A202-237] docs: Add TIL by seohyun
  til/김서현/250502/README.md
Due: none

[S12P31A202-236] feat: Add password reset page
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/PasswordResetForm.tsx
  frontend/src/pages/PasswordReset.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/userService.ts
Due: check_frontend

[S12P31A202-236] feat: Add backend api to reset password
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/PasswordResetRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
  backend/src/main/java/net/dutymate/api/global/config/WebConfig.java
Due: build_backend

[S12P31A202-239] fix: Handle error when HN leaves ward with pending applicants
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  frontend/src/components/organisms/MypageExit.tsx
  frontend/src/components/organisms/MypageExitConfirmModal.tsx
Due: check_frontend, build_backend

[S12P31A202-240] refactor: Improve landing layout and auth form accessibility
  frontend/src/components/atoms/Input.tsx
  frontend/src/components/organisms/LoginEmailVerificationForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/components/templates/LandingTemplate.tsx
Due: check_frontend

[S12P31A202-242] feat: Improve additional info UI/UX with role guidance and responsive design
  frontend/src/components/organisms/ExtraInfoForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/PasswordResetForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/components/templates/LandingTemplate.tsx
  frontend/src/pages/ExtraInfo.tsx
Due: check_frontend

[S12P31A202-243] fix: Align header and content in duty calendar
  frontend/src/components/organisms/CommunityLayout.tsx
  frontend/src/components/organisms/ExtraInfoForm.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/pages/Game.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ReqAdmin.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/pages/TeamShift.tsx
  frontend/src/pages/WardAdmin.tsx
  frontend/src/utils/TeamShiftTableDownload.ts
Due: check_frontend

[S12P31A202-244] fix: Close ChannelTalk modal on outside click
  frontend/src/components/organisms/ChannelTalkLoader.tsx
Due: check_frontend

[S12P31A202-245] feat: Enhance date utils and improve formatTimeAgo display
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/utils/dateUtiles.ts
  frontend/src/utils/dateUtils.ts
Due: check_frontend

[S12P31A202-247] feat: Add bottom border-radius to duty selection indicator
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-249] docs: Add TIL by jongwooo
  til/한종우/250502/README.md
Due: none

[S12P31A202-250] feat: Improve CommunityNews component UI and info layout
  frontend/src/components/organisms/CommunityLayout.tsx
  frontend/src/components/organisms/CommunityNews.tsx
Due: check_frontend

[S12P31A202-248] docs: Add TIL by taeho
  til/임태호/250502/README.md
Due: none

[S12P31AS202-254] fix: Initialize role for exit ward
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-253] fix: Initialize member role when delete ward member
  backend/src/main/java/net/dutymate/api/domain/wardmember/service/WardMemberService.java
Due: build_backend

[S12P31A202-252] feat: add back button on enter-ward form
  frontend/src/components/organisms/EnterWardForm.tsx
Due: check_frontend

[S12P31A202-259] feat: Disable Google Translate on specific UI text
  frontend/index.html
  frontend/src/components/atoms/DutyBadgeEng.tsx
  frontend/src/components/atoms/DutyBadgeKor.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-260] feat: Add today marker to My Duty calendar
  frontend/src/components/organisms/MyShiftCalendar.tsx
Due: check_frontend

[S12P31A202-257] feat: Add api to get holiday information
  backend/src/main/java/net/dutymate/api/domain/common/scheduler/HolidayScheduler.java
  backend/src/main/java/net/dutymate/api/domain/common/utils/YearMonth.java
  backend/src/main/java/net/dutymate/api/domain/holiday/Holiday.java
  backend/src/main/java/net/dutymate/api/domain/holiday/controller/HolidayController.java
  backend/src/main/java/net/dutymate/api/domain/holiday/dto/HolidayResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/holiday/repository/HolidayRepository.java
  backend/src/main/java/net/dutymate/api/domain/holiday/service/HolidayService.java
Due: build_backend

[S12P31A202-257] feat: Add government API for holiday and batch system
  backend/src/main/java/net/dutymate/api/domain/common/Holiday.java
  backend/src/main/java/net/dutymate/api/domain/common/repository/HolidayRepository.java
  backend/src/main/java/net/dutymate/api/domain/common/scheduler/HolidayScheduler.java
  backend/src/main/resources/application-env.yaml
Due: build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
