Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  after_script:
  - cd backend
  ...

[S12P31A202-163] feat: Improve UI/UX of the login page
  frontend/src/components/organisms/LoginForm.tsx
Due: check_frontend

[S12P31A202-168] feat: Improve UI/UX of the signup page
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P31A202-167] feat: Disable EmailInput when isVertified is true
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P31A202-159] feat: Update PaymentModal text and UI design
  frontend/src/components/organisms/PaymentModal.tsx
Due: check_frontend

[S12P31A202-172] feat: Set toast position to top-center
  frontend/src/components/organisms/WardAdminTable.tsx
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/ExtraInfo.tsx
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend

[S12P31A202-164] feat: Update payment and subscription success modal design
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/PaymentModal.tsx
  frontend/src/components/organisms/SubscriptionSuccessModal.tsx
Due: check_frontend

[S12P31A202-170] feat: Improve auto-generation including prev month schedule
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
Due: build_backend

[S12P31A202-169] refactor: Update timer size
  frontend/src/components/atoms/DemoTimer.tsx
Due: check_frontend

[S12P31A202-169] refactor: Update mobile demo location
  frontend/src/components/atoms/DemoTimer.tsx
Due: check_frontend

[S12P31A202-173] feat: Restrict ward code and entry request for demo account
  frontend/src/components/organisms/WardAdminInfo.tsx
Due: check_frontend

[S12P31A202-175] feat: Update autofill input background color
  frontend/src/index.css
Due: check_frontend

[S12P31A202-177] refactor: Unify scattered CSS settings into global files
  frontend/src/components/organisms/HistoryList.tsx
  frontend/src/components/organisms/RuleCheckList.tsx
  frontend/src/components/organisms/SubscriptionSuccessModal.tsx
  frontend/src/index.css
  frontend/src/styles/global.css
  frontend/src/styles/globals.css
Due: check_frontend

[S12P31A202-148] docs: Add TIL by jongwooo
  til/한종우/250429/README.md
  til/한종우/250429/login_attempt.png
Due: none

[S12P31A202-178] docs: Add TIL by jaehyun
  til/이재현/250429/README.md
Due: none

[S12P31A202-181] docs: Add TIL by taeho
  til/임태호/250429/README.md
  til/임태호/250429/image.png
Due: none

[S12P31A202-141] feat: Add 10min sign-up modal
  frontend/src/components/atoms/DemoTimer.tsx
  frontend/src/components/atoms/Profile.tsx
  frontend/src/components/organisms/TimeOut.tsx
  frontend/src/store/userAuthStore.ts
Due: check_frontend

[S12P31A202-141] fix: Add npm run format fix
  frontend/src/components/atoms/DemoTimer.tsx
  frontend/src/components/atoms/Profile.tsx
Due: check_frontend

[S12P31A202-182] dosc: Add TIL by minsung
  til/김민성/250429/README.md
Due: none

[S12P31A202-183] fix: Fix npm run build error
  frontend/src/components/organisms/CommunityLayout.tsx
  frontend/src/pages/Game.tsx
Due: check_frontend

[S12P31A202-180] chore: Bump version to v2.1.0
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/UpdateNoticeModal.tsx
Due: check_frontend, build_backend

[S12P31A202-184] feat: Improve demo and signup UX
  frontend/src/components/atoms/DemoTimer.tsx
  frontend/src/components/atoms/Profile.tsx
  frontend/src/components/organisms/CreateWardForm.tsx
  frontend/src/components/organisms/EnterWardForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/components/organisms/UpdateNoticeModal.tsx
Due: check_frontend

[S12P31A202-186] feat: Add ResetDutyConfirmModal
  frontend/src/components/organisms/ResetDutyConfirmModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-184] fix: Update demo timeout from 5 seconds to 10 minutes
  frontend/src/components/atoms/DemoTimer.tsx
  frontend/src/components/atoms/Profile.tsx
Due: check_frontend

[S12P31A202-147] docs: Add TIL by seohyun
  til/김서현/250429/README.md
Due: none

[S12P31A202-188] feat: Add RemoveAdminConfirmModal
  frontend/src/components/organisms/RemoveAdminConfirmModal.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P31A202-190] feat: Add AddNurseConfirmModal
  frontend/src/components/organisms/AddNurseConfirmModal.tsx
  frontend/src/components/organisms/WardAdminModal.tsx
Due: check_frontend

[S12P31A202-191] feat: Update landing modal
  frontend/src/components/organisms/UpdateNoticeModal.tsx
Due: check_frontend

[S12P31A202-193] fix: Fix RemoveNurseConfirmModal
  frontend/src/components/organisms/RemoveAdminConfirmModal.tsx
  frontend/src/components/organisms/RemoveNurseConfirmModal.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P31A202-195] feat: Update AddNurseConfirmModal message
  frontend/src/components/organisms/WardAdminModal.tsx
Due: check_frontend

[S12P31A202-197] feat: Add MypageExitConfirmModal
  frontend/src/components/organisms/MypageExit.tsx
  frontend/src/components/organisms/MypageExitConfirmModal.tsx
Due: check_frontend

[S12P31A202-199] chore: Disable console when NODE_ENV is production
  frontend/src/App.tsx
Due: check_frontend

[S12P31A202-200] chore: Disable console when NODE_ENV is production
  frontend/package.json
  frontend/src/App.tsx
Due: check_frontend

[S12P31A202-201] feat: Add OpenGraph metadata for social sharing
  frontend/index.html
  frontend/public/images/Dutymate.png
Due: check_frontend

[S12P31A202-205] chore: Initialize mobile project
  mobile/.gitignore
  mobile/app.json
  mobile/assets/adaptive-icon.png
  mobile/assets/favicon.png
  mobile/assets/icon.png
  mobile/assets/splash-icon.png
  mobile/package-lock.json
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/index.ts
  mobile/tsconfig.json
Due: none

[S12P31A202-206] chore: Add @biomejs/biome to devDependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-206] chore: Add biome configuration
  mobile/biome.json
Due: none

[S12P31A202-207] chore: Add typescript configuration
  mobile/tsconfig.app.json
  mobile/tsconfig.json
  mobile/tsconfig.node.json
Due: none

[S12P31A202-209] chore: Add biome-related scripts to package.json
  mobile/package.json
Due: none

[S12P31A202-210] style: Update files to format code
  mobile/src/App.tsx
  mobile/src/index.ts
Due: none

[S12P31A202-212] chore: Add check_mobile stage
  .gitlab-ci.yml
Due: none

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
