Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*

[S12P31A202-351] chore: Separate source uri based on environment
  mobile/app.config.js
  mobile/package.json
Due: none

[S12P31A202-361] feat: Use custom useragent
  mobile/src/App.tsx
Due: none

[S12P31A202-350] chore: Add expo-constants to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-349] chore: Add react-native-webview to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-355] chore: Add postfix :dev to scripts
  mobile/package.json
Due: none

[S12P31A202-362] feat: Use onContentProcessDidTerminate to prevent freezing
  mobile/src/App.tsx
Due: none

[S12P31A202-366] style: Delete unnecessary toast options
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-366] feat: Optimize toast UI for mobile environment
  frontend/src/App.tsx
  frontend/src/toast.css
Due: check_frontend

[S12P31A202-369] chore: Update format:fix script
  frontend/package.json
Due: check_frontend

[S12P31A202-366] style: Delete unnecessary toast options
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/pages/CreateWard.tsx
  frontend/src/pages/EnterWard.tsx
  frontend/src/pages/ExtraInfo.tsx
Due: check_frontend

[S12P31A202-371] feat: Update password reset page login link text
  frontend/src/components/organisms/PasswordResetForm.tsx
Due: check_frontend

[S12P31A202-366] fix: Fix auto-generated toast bug
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/toast.css
Due: check_frontend

[S12P31A202-374] chore: Disable mail health check
  backend/src/main/resources/application.yaml
Due: build_backend

[S12P31A202-377] refactor: Remove unnecessary props
  mobile/src/App.tsx
Due: none

[S12P31A202-380] chore: Add nativewind-related packages to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-381] chore: Add tailwind.config.js
  mobile/tailwind.config.js
Due: none

[S12P31A202-382] chore: Create global.css
  mobile/src/styles/global.css
Due: none

[S12P31A202-383] chore: Add babel.config.js
  mobile/babel.config.js
Due: none

[S12P31A202-384] chore: Add metro.config.js
  mobile/metro.config.js
Due: none

[S12P31A202-385] chore: Import global.css in index.ts
  mobile/src/index.ts
  mobile/src/types/nativewind-env.d.ts
Due: none

[S12P31A202-375] docs: Add TIL by jongwooo
  til/한종우/250509/README.md
Due: none

[S12P31A202-388] chore: Change nativewind-env.d.ts path to project root
  mobile/nativewind-env.d.ts
  mobile/tsconfig.json
Due: none

[S12P31A202-390] refactor: Extract webview into a separate component
  mobile/src/App.tsx
  mobile/src/components/webview/WebViewContainer.tsx
Due: none

[S12P31A202-336] feat: Add API to get groupList and singleGroup
  backend/src/main/java/net/dutymate/api/domain/common/utils/YearMonth.java
  backend/src/main/java/net/dutymate/api/domain/group/NurseGroup.java
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupCreateRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupDetailResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupListResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupUpdateRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/repository/MemberScheduleRepository.java
Due: build_backend

[S12P31A202-336] feat: Add leave group member feature
  backend/src/main/java/net/dutymate/api/domain/group/GroupMember.java
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/repository/GroupMemberRepository.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-336] fix: Fix code checkstyle
  backend/src/main/java/net/dutymate/api/domain/group/GroupMember.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-336] feat: Add API to get my group list
  backend/src/main/java/net/dutymate/api/domain/group/NurseGroup.java
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupCreateRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupListResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupUpdateRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/group/repository/GroupMemberRepository.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-336] feat: Add group create and update api feature
  backend/src/main/java/net/dutymate/api/domain/group/GroupMember.java
  backend/src/main/java/net/dutymate/api/domain/group/NurseGroup.java
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupUpdateRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/group/repository/GroupRepository.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-336] feat: Add group entity
  backend/src/main/java/net/dutymate/api/domain/common/utils/FileNameUtils.java
  backend/src/main/java/net/dutymate/api/domain/community/service/BoardService.java
  backend/src/main/java/net/dutymate/api/domain/group/GroupMember.java
  backend/src/main/java/net/dutymate/api/domain/group/Groups.java
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupCreateRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupImgResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/repository/GroupRepository.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
  backend/src/main/java/net/dutymate/api/domain/member/Member.java
Due: build_backend

[S12P31A202-336] fix: Fix code checkstyle
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-391] docs: Add TIL by hyunjin
  til/김현진/250509/README.md
Due: none

[S12P31A202-395] fix: Add group max size exception by @Valid annotation
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
Due: build_backend

[S12P31A202-267] fix: Delete lock file
  package-lock.json
Due: none

[S12P31A202-267-] feat: Add kakao map
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/KakaoPlaceModal.tsx
  frontend/src/components/organisms/SheduleEditModal.tsx
  frontend/src/pages/MyShift.tsx
  frontend/tsconfig.json
  package-lock.json
Due: check_frontend

[S12P31A202-267] feat: Add color picker
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/SheduleEditModal.tsx
  frontend/src/components/organisms/ShiftColorPickerModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P31A202-267] feat: fix TodayShiftModal UI
  frontend/src/components/organisms/KakaoPlaceModal.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/SheduleEditModal.tsx
  frontend/src/components/organisms/ShiftColorPickerModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
Due: check_frontend

[S12P31A202-267] feat: Add calendar UI 2
  frontend/src/components/organisms/SheduleEditModal.tsx
  frontend/src/components/organisms/ShiftColorPickerModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
Due: check_frontend

[S12P31A202-267] feat: Add calendar UI
  frontend/src/components/organisms/SheduleEditModal.tsx
  frontend/src/components/organisms/ShiftColorPickerModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
Due: check_frontend

[S12P31A202-267] feat: Add calendar table on BE
  backend/src/main/java/net/dutymate/api/domain/calendar/dto/CalendarRequest.java
  backend/src/main/java/net/dutymate/api/domain/calendar/dto/CalendarResponse.java
  frontend/src/components/organisms/SheduleEditModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/services/calendarService.ts
  frontend/src/stores/calendarStore.ts
Due: check_frontend, build_backend

[S12P31A202-267] feat: Add calendar circles on MyShiftCalendar
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/SheduleEditModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend
