Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  after_script:
  - cd backend
  ...

[S12P31A202-652] feat: Add userAuthStore for mobile with secureStorage
  mobile/src/store/userAuthStore.ts
Due: none

[S12P31A202-652] feat: Add auth service api logic
  mobile/src/api/services/authService.ts
Due: none

[S12P31A202-652] chore: Add android and ios in .gitignore
  mobile/.gitignore
Due: none

[S12P31A202-670] feat: Add signup email verification feature
  mobile/src/App.tsx
  mobile/src/api/services/userService.ts
  mobile/src/components/signup/SignupForm.tsx
  mobile/src/hooks/common/useEmailVerification.ts
Due: none

[S12P31A202-677] chore: Cleanup package.json
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-673] fix: Fix work crud mobile
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/WorkCRUDModal.tsx
Due: check_frontend

[S12P31A202-680] chore: Add icon and splash image
  mobile/app.config.ts
  mobile/assets/adaptive-icon.png
  mobile/assets/favicon.png
  mobile/assets/icon.png
  mobile/assets/images/adaptive-icon.png
  mobile/assets/images/icon.png
  mobile/assets/images/splash-icon.png
  mobile/assets/splash-icon.png
Due: none

[S12P31A202-684] refactor: Set max iteration
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
Due: build_backend

[S12P31A202-679] fix: Exclude max shifts rule in mid duty
  backend/src/main/java/net/dutymate/api/domain/wardschedules/dto/WardScheduleResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/util/DutyAutoCheck.java
Due: build_backend

[S12P31A202-682] chore: Cleanup pacakge.json
  mobile/package.json
Due: none

[S12P31A202-686] chore: Bump version to v2.4.0
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend, build_backend

[S12P31A202-671] feat: Add signup api in mobile
  mobile/src/api/services/userService.ts
  mobile/src/components/signup/SignupForm.tsx
  mobile/src/utils/.gitkeep
  mobile/src/utils/validate.ts
Due: none

[S12P31A202-671] refactor: Add password verification symbol
  frontend/src/components/organisms/SignupForm.tsx
  mobile/src/api/services/userService.ts
  mobile/src/components/signup/SignupForm.tsx
  mobile/src/hooks/common/useEmailVerification.ts
  mobile/src/utils/validate.ts
Due: check_frontend

[S12P31A202-671] refactor: Delete unneccessary toast message
  mobile/src/components/signup/SignupForm.tsx
  mobile/src/hooks/common/useEmailVerification.ts
Due: none

[S12P31A202-676] feat: Add bulk export feature for nurses
  backend/src/main/java/net/dutymate/api/domain/wardmember/controller/WardMemberController.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/service/WardMemberService.java
  frontend/src/services/wardService.ts
  frontend/src/stores/wardStore.ts
Due: check_frontend, build_backend

[S12P31A202-687] fix: Remain accepted requests when reset duty
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-688] feat: Update notice
  frontend/public/updateNotice.md
Due: check_frontend

[S12P31A202-690] feat: Set autoCapitalize to none
  mobile/src/components/common/StyledTextInput.tsx
Due: none

[S12P31A202-691] fix: Fix kakao native login logic
  mobile/src/components/login/LoginForm.tsx
Due: none

[S12P31A202-692] fix: Sort calender by scheduled time
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-683] fix: Fix career dropdown
  frontend/src/components/organisms/ReqAdminTable.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Landing.tsx
Due: check_frontend

[S12P31A202-695] chore: Cleanup envs
  mobile/app.config.ts
  mobile/src/api/axios.ts
Due: none

[S12P31A202-693] refactor: Change time choice ux
  frontend/src/components/organisms/ScheduleEditModal.tsx
Due: check_frontend

[S12P31A202-697] fix: Sort group calendar by duty type
  frontend/src/pages/Group/GroupDetailPage.tsx
Due: check_frontend

[S12P31A202-653] fix: Fix backend code checkstyle
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-653] chore: Add @react-native-google-signin/google-signin in dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-653] refactor: Refactor google login api endpoint for mobile
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/ProfileRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-653] feat: Add google login mobile react-native
  mobile/GoogleService-Info.plist
  mobile/app.config.ts
  mobile/google-services.json
  mobile/src/App.tsx
  mobile/src/api/services/authService.ts
  mobile/src/components/login/LoginForm.tsx
Due: none

[S12P31A202-653] feat: Add google login api for mobile
  mobile/src/api/axios.ts
  mobile/src/api/services/authService.ts
  mobile/src/components/login/LoginForm.tsx
Due: none

[S12P31A202-701] feat: Update icon and splash icon
  mobile/app.config.ts
  mobile/assets/images/adaptive-icon.png
  mobile/assets/images/icon.png
  mobile/assets/images/splash-icon.png
Due: none

[S12P31A202-702] chore: Add expo-splash-screen to dependencies
  mobile/assets/images/splash-icon.png
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-698] refactor: Delete image when change profile
  backend/src/main/java/net/dutymate/api/domain/common/service/S3Service.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-699] fix: Set type holiday-api-response to json
  backend/src/main/java/net/dutymate/api/domain/holiday/service/HolidayService.java
Due: build_backend

[S12P31A202-676] feat: Add bulk ward member delete feature
  frontend/src/components/atoms/Dropdown.tsx
  frontend/src/components/organisms/RemoveNurseConfirmModal.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
  frontend/src/stores/wardStore.ts
Due: check_frontend

[S12P31A202-706] feat: Add delete cascade to waiting entity
  backend/src/main/java/net/dutymate/api/domain/ward/EnterWaiting.java
Due: build_backend

[S12P31A202-708] fix: Resolve photo upload error in Safari
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/MypageProfile.tsx
Due: check_frontend

[S12P31A202-669] feat: Redirect to LandingScreen when mobile is logged out
  frontend/src/lib/axios.ts
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/types/global.d.ts
  frontend/src/utils/navigation.ts
  mobile/src/App.tsx
  mobile/src/components/login/LoginForm.tsx
  mobile/src/screens/WebViewScreen.tsx
  mobile/src/store/userAuthStore.ts
Due: check_frontend

[S12P31A202-669] feat: Add login and role base extra info
  frontend/src/App.tsx
  frontend/src/lib/mobileApp.ts
  mobile/src/App.tsx
  mobile/src/api/axios.ts
  mobile/src/api/services/authService.ts
  mobile/src/api/services/userService.ts
  mobile/src/api/services/wardService.ts
  mobile/src/components/common/Dropdown.tsx
  mobile/src/components/createWard/CreateWardForm.tsx
  mobile/src/components/extraInfo/ExtraInfoForm.tsx
  mobile/src/components/login/LoginForm.tsx
  mobile/src/components/signup/SignupForm.tsx
  mobile/src/screens/WebViewScreen.tsx
  mobile/src/utils/navigation.ts
Due: check_frontend

[S12P31A202-704] Add waiting progress bar
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-709] feat: Replace PNG-based logo with pure SVG vector
  README.md
  frontend/public/images/logo.svg
  frontend/public/images/text-logo.svg
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/components/templates/LandingTemplate.tsx
  mobile/app.config.ts
  mobile/src/App.tsx
  mobile/src/api/services/authService.ts
Due: check_frontend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
