Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.13-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: gradle:latest
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $ENV_FILE .env
  script:
  - gradle build --build-cache
  after_script:
  - cd backend
  ...

[S12P31A202-78] docs: Add TIL by jaehyun
  til/이재현/250423/README.md
Due: none

[S12P31A202-30] chore: Create kms rds key
  infrastructure/Modules/KMS/main.tf
  infrastructure/Modules/KMS/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P31A202-41] chore: Encrypt rds instance
  infrastructure/Modules/RDS/main.tf
  infrastructure/Modules/RDS/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P31A202-80] docs: Update TIL
  til/김현진/250423/README.md
Due: none

[S12P31A202-87] chore: Add egress configuration for smtp
  infrastructure/Modules/SecurityGroup/main.tf
Due: check_infrastructure

[S12P31A202-90] docs: Update project README.md
  README.md
Due: none

[S12P31A202-90] docs: Update project README.md
  README.md
  assets/images/dutymate-architecture.png
Due: none

[S12P31A202-72] feat: Add auto generate limit count in frontend
  frontend/src/components/organisms/AutoGenCountModal.tsx
  frontend/src/components/organisms/PaymentModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P31A202-72] feat: Add auto generate count limit in backend
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/payment/controller/PaymentController.java
  backend/src/main/java/net/dutymate/api/domain/payment/dto/AutoGenCntResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/payment/service/PaymentService.java
  backend/src/main/java/net/dutymate/api/global/entity/Member.java
Due: build_backend

[S12P31A202-72] feat: Add auto count
  backend/src/main/java/net/dutymate/api/domain/payment/controller/PaymentController.java
  backend/src/main/java/net/dutymate/api/domain/payment/dto/AddAutoGenCntResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/payment/service/PaymentService.java
Due: build_backend

[S12P31A202-72] feat: Add modal when user subscribe
  backend/src/main/java/net/dutymate/api/global/config/WebConfig.java
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/SubscriptionSuccessModal.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend, build_backend

[S12P31A202-72] style: Fix check style
  backend/src/main/java/net/dutymate/api/domain/payment/controller/PaymentController.java
Due: build_backend

[S12P31A202-82] refactor: Add security option to delete demo account API
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/resources/application-env.yaml
Due: build_backend

[S12P31A202-85] feat: Fix comment and DemoTimer and DarkModeToggle
  frontend/src/components/atoms/DarkModeToggle.tsx
  frontend/src/components/atoms/DemoTimer.tsx
  frontend/src/components/atoms/Profile.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/index.css
  frontend/src/pages/Landing.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/tailwind.config.js
Due: check_frontend

[S12P31A202-85] feat: Add demotimer to all pages
  frontend/src/components/organisms/CommunityLayout.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/pages/Mypage.tsx
  frontend/src/pages/ReqAdmin.tsx
  frontend/src/pages/ShiftAdmin.tsx
  frontend/src/pages/TeamShift.tsx
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend

[S12P31A202-67] feat: Add email verification input in signup page
  frontend/src/components/atoms/Input.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/services/userService.ts
Due: check_frontend

[S12P31A202-67] fix: Fix frontend code checkstyle
  frontend/src/components/organisms/LoginEmailVerificationForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/pages/Login.tsx
  frontend/src/services/userService.ts
  frontend/src/store/useLoginStepStore.ts
Due: check_frontend

[S12P31A202-67] feat: Reset timer when success or error
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P31A202-67] fix: Edit signup input css
  frontend/src/components/atoms/Input.tsx
  frontend/src/components/organisms/SignupForm.tsx
Due: check_frontend

[S12P31A202-67] feat: Add extra email verification form in login-page
  frontend/src/components/atoms/Input.tsx
  frontend/src/components/organisms/LoginEmailVerificationForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/pages/Login.tsx
  frontend/src/services/userService.ts
Due: check_frontend

[S12P31A202-67] feat: Add email verification form when login
  frontend/src/components/organisms/LoginEmailVerificationForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/pages/Login.tsx
  frontend/src/services/userService.ts
  frontend/src/store/useLoginStepStore.ts
Due: check_frontend

[S12P31A202-67] refactor: Add path parameter when send code
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
  backend/src/main/java/net/dutymate/api/global/exception/GlobalExceptionHandler.java
Due: build_backend

[S12P31A202-67] fix: Fix backend code style
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/EmailService.java
Due: build_backend

[S12P31A202-67] fix: Delete console.log
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/components/organisms/WardAdminModal.tsx
  frontend/src/pages/Login.tsx
Due: check_frontend

[S12P31A202-67] fix: Fix fe code checkstyle
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/WardAdminModal.tsx
Due: check_frontend

[S12P31A202-67] fix: Fix be code checkstyle
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
Due: build_backend

[S12P31A202-96] fix: Set mid-duty default to head nurse
  backend/src/main/java/net/dutymate/api/global/entity/WardMember.java
Due: build_backend

[S12P31A202-84] refactor: Move entities to domain package
  backend/src/main/java/net/dutymate/api/domain/autoschedule/Shift.java
  backend/src/main/java/net/dutymate/api/domain/community/Board.java
  backend/src/main/java/net/dutymate/api/domain/community/BoardLikes.java
  backend/src/main/java/net/dutymate/api/domain/community/Category.java
  backend/src/main/java/net/dutymate/api/domain/community/Comment.java
  backend/src/main/java/net/dutymate/api/domain/community/HotBoard.java
  backend/src/main/java/net/dutymate/api/domain/member/EmailVerificationResult.java
  backend/src/main/java/net/dutymate/api/domain/member/Gender.java
  backend/src/main/java/net/dutymate/api/domain/member/Member.java
  backend/src/main/java/net/dutymate/api/domain/member/Provider.java
  backend/src/main/java/net/dutymate/api/domain/request/Request.java
  backend/src/main/java/net/dutymate/api/domain/request/RequestStatus.java
  backend/src/main/java/net/dutymate/api/domain/rule/Rule.java
  backend/src/main/java/net/dutymate/api/domain/ward/EnterStatus.java
  backend/src/main/java/net/dutymate/api/domain/ward/EnterWaiting.java
  backend/src/main/java/net/dutymate/api/domain/ward/Hospital.java
  backend/src/main/java/net/dutymate/api/domain/ward/Ward.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/Role.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/ShiftType.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/SkillLevel.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/WardMember.java
Due: build_backend

[S12P31A202-99] feat: Improve UX for auto-generation flow
  frontend/src/components/organisms/AutoGenerateConfirmModal.tsx
  frontend/src/components/organisms/RuleEditModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-95] feat: Add payment modals
  frontend/src/components/organisms/AutoGenCountModal.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/components/organisms/PaymentModal.tsx
  frontend/src/components/organisms/SelectCompleteModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/SubscriptionSuccessModal.tsx
Due: check_frontend

[S12P31A202-67] refactor: Refactor common hook in login and signup email verification form
  frontend/src/components/organisms/LoginEmailVerificationForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/hooks/.gitkeep
  frontend/src/hooks/useEmailVerification.ts
Due: check_frontend

[S12P31A202-35] chore: Bump version to v2.0.0
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend, build_backend

[S12P31A202-103] fix: Fix tsc error
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P31A202-104] fix: Fix tsc error
  frontend/src/components/organisms/LoginEmailVerificationForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
Due: check_frontend

[S12P31A202-81] docs: Add TIL by seohyun
  til/김서현/250424/README.md
Due: none

[S12P31A202-108] docs: Add TIL by taeho
  til/임태호/250424/README.md
  til/임태호/250424/image.png
Due: none

[S12P31A202-94] docs: Add TIL by minsung
  til/김민성/250424/README.md
Due: none

[S12P31A202-110] docs: Add TIL by jaehyun
  til/이재현/250424/README.md
Due: none

[S12P31A202-93] docs: Add TIL by jongwooo
  til/한종우/250424/README.md
Due: none

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
