Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*

[S12P31A202-624] feat: Save daily login logs as CSV and upload to S3
  backend/src/main/java/net/dutymate/api/domain/member/controller/LoginLogController.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/LoginLog.java
  backend/src/main/java/net/dutymate/api/domain/member/service/LoginLogService.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/global/config/WebConfig.java
Due: build_backend

[S12P31A202-640] fix: Allow only leader to remove members and Fix group UI
  frontend/src/components/organisms/Group/CheckMemberModal.tsx
  frontend/src/components/organisms/Group/DateSuggestionModal.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/Group/GroupLayout.tsx
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/pages/Group/NurseGroupPage.tsx
Due: check_frontend

[S12P31A202-641] fix: Show exited members in ward duty view
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-643] refactor: Improve news summary prompt for clarity and focus
  backend/src/main/java/net/dutymate/api/domain/community/service/NewsService.java
Due: build_backend

[S12P31A202-650] chore: Add login-log-related job to eventbridge
  infrastructure/Modules/EventBridge/main.tf
Due: check_infrastructure

[S12P31A202-644] fix: Add heic upload and img max heigt
  frontend/src/components/organisms/CommunityDetail.tsx
  frontend/src/components/organisms/CommunityForm.tsx
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
Due: check_frontend

[S12P31A202-644] fix: Fix 5MB to 30MB
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/MypageProfile.tsx
Due: check_frontend

[S12P31A202-635] fix: Fix heic picture upload
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/components/organisms/WorkCRUDModal.tsx
Due: check_frontend

[S12P31A202-635] fix: Fix heic picture upload2
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/MypageProfile.tsx
  frontend/src/components/organisms/WorkCRUDModal.tsx
Due: check_frontend

[S12P31A202-648] feat: Convert HEIC images to JPG on upload
  backend/build.gradle
  backend/src/main/java/net/dutymate/api/domain/common/service/S3Service.java
  backend/src/main/java/net/dutymate/api/domain/common/utils/FileNameUtils.java
  backend/src/main/java/net/dutymate/api/domain/community/service/BoardService.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
Due: build_backend

[S12P31A202-648] refactor: Extract image upload logic to common S3Service
  backend/build.gradle
  backend/src/main/java/net/dutymate/api/domain/common/service/S3Service.java
  backend/src/main/java/net/dutymate/api/domain/common/utils/FileNameUtils.java
Due: build_backend

[S12P31A202-592] feat: Add dedicated work algorithm
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/ScheduleGenerateService.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/FixScheduleGenerator.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
Due: build_backend

[S12P31A202-592] feat: Add multy shift feature and make duty more satisfy
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/ScheduleGenerateService.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/FixScheduleGenerator.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/GeneticNurseScheduler.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
  backend/src/main/java/net/dutymate/api/domain/request/util/DemoRequestGenerator.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/util/PreviousScheduleGenerator.java
Due: build_backend

[S12P31A202-655] fix: Fix mobile code style
  mobile/src/api/axiosI.ts
Due: none

[S12P31A202-655] chore: Add additional file directory
  mobile/src/api/axiosI.ts
  mobile/src/api/services/.gitkeep
  mobile/src/constants/.gitkeep
  mobile/src/hooks/useMutation/.gitkeep
  mobile/src/hooks/useQuery/.gitkeep
  mobile/src/store/.gitkeep
  mobile/src/types/.gitkeep
  mobile/src/utils/.gitkeep
Due: none

[S12P31A202-655] refactor: Edit file name
  mobile/src/api/axios.ts
Due: none

[S12P31A202-655] refactor: Delete axios.ts
  mobile/src/api/axios.ts
Due: none

[S12P31A202-655] chore: Add mobile react-native package to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-659] fix: Update timeout 5minutes
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P31A202-660] fix: Sync UI state after shift auto-generate and reset
  frontend/src/components/organisms/AutoGenerateConfirmModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-661] feat: Remove unnecessary ring style on cell selection
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-657] feat: Add work CRUD for non ward nurse
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/components/organisms/WorkCRUDModal.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P31A202-657] feat: Add work CRUD for non ward nurse
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/WorkCRUDModal.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend

[S12P31A202-662] fix: Optimize mobile horizontal scroll and drag behavior
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-663] fix: Fix bug fix pages errors in my shift, my group, team shift, community
  frontend/src/components/organisms/CommunityWrite.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/TeamShiftTable.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/utils/TeamShiftTableDownload.ts
Due: check_frontend

[S12P31A202-646] feat: Add notice entity and CRUD features
  backend/src/main/java/net/dutymate/api/domain/notice/Notice.java
  backend/src/main/java/net/dutymate/api/domain/notice/controller/NoticeController.java
  backend/src/main/java/net/dutymate/api/domain/notice/dto/NoticeDetailResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/notice/dto/NoticeRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/notice/dto/NoticeResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/notice/repository/NoticeRepository.java
  backend/src/main/java/net/dutymate/api/domain/notice/service/NoticeService.java
  backend/src/main/java/net/dutymate/api/global/auth/jwt/JwtAuthenticationInterceptor.java
Due: build_backend

[S12P31A202-643] feat: Add notice entity and initialized class file
  backend/src/main/java/net/dutymate/api/domain/notice/Notice.java
  backend/src/main/java/net/dutymate/api/domain/notice/controller/NoticeController.java
  backend/src/main/java/net/dutymate/api/domain/notice/repository/NoticeRepository.java
  backend/src/main/java/net/dutymate/api/domain/notice/service/NoticeService.java
Due: build_backend

[S12P31A202-652] chore: Add comment about EXPO_PUBLIC_ env
  mobile/src/api/axios.ts
Due: none

[S12P31A202-652] refactor: Delete console.log
  mobile/src/App.tsx
  mobile/src/api/services/authService.ts
  mobile/src/components/login/LoginForm.tsx
Due: none

[S12P31A202-652] feat: Add kakao login for mobile
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/api/services/.gitkeep
  mobile/src/api/services/authService.ts
  mobile/src/components/login/LoginForm.tsx
  mobile/src/screens/LoginScreen.tsx
  mobile/src/store/.gitkeep
  mobile/src/types/user.ts
Due: none

[S12P31A202-652] feat: Add axiosInstance for mobile
  mobile/src/api/axios.ts
Due: none

[S12P31A202-652] chore: Add @react-native-kakao/core to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-652] fix: Fix mobile code checkstyle
  mobile/src/App.tsx
  mobile/src/api/axios.ts
  mobile/src/api/services/authService.ts
  mobile/src/components/login/LoginForm.tsx
  mobile/src/screens/LoginScreen.tsx
  mobile/src/store/userAuthStore.ts
  mobile/src/types/user.ts
Due: none

[S12P31A202-652] refactor: Add kakao login backend logic for mobile
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/KakaoProfileRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-652] chore: Add native build setting
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-652] chore: Add @react-native-kakao/user to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-652] chore: Add expo-build-properties to dependencies
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-652] feat: Initialize kakao login setting in react-native
  mobile/app.config.ts
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-652] fix: Fix backend code checkstyle
  backend/src/main/java/net/dutymate/api/domain/member/controller/MemberController.java
  backend/src/main/java/net/dutymate/api/domain/member/dto/KakaoProfileRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-652] feat: Add kakao login button
  mobile/app.config.ts
  mobile/src/App.tsx
  mobile/src/components/login/LoginForm.tsx
  mobile/src/types/.gitkeep
  mobile/src/types/user.ts
Due: none
