Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*

[S12P31A202-378] feat: Add calendar api features
  backend/src/main/java/net/dutymate/api/domain/calendar/controller/CalendarController.java
  backend/src/main/java/net/dutymate/api/domain/calendar/dto/CalendarRequest.java
  backend/src/main/java/net/dutymate/api/domain/calendar/dto/CalendarRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/calendar/dto/CalendarResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/calendar/entity/Calendar.java
  backend/src/main/java/net/dutymate/api/domain/calendar/repository/CalendarRepository.java
  backend/src/main/java/net/dutymate/api/domain/calendar/service/CalendarService.java
Due: build_backend

[S12P31A202-267] feat: Add calender create
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ScheduleEditModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/services/calendarService.ts
  frontend/src/stores/calendarStore.ts
Due: check_frontend

[S12P31A202-267] feat: Add BE file
  backend/src/main/java/net/dutymate/api/domain/calendar/controller/CalendarController.java
  backend/src/main/java/net/dutymate/api/domain/calendar/dto/CalendarRequest.java
  backend/src/main/java/net/dutymate/api/domain/calendar/dto/CalendarResponse.java
  backend/src/main/java/net/dutymate/api/domain/calendar/entity/Calendar.java
  backend/src/main/java/net/dutymate/api/domain/calendar/repository/CalendarRepository.java
  backend/src/main/java/net/dutymate/api/domain/calendar/service/CalendarService.java
Due: build_backend

[S12P31A202-267] style: Fix code style
  backend/src/main/java/net/dutymate/api/domain/calendar/controller/CalendarController.java
Due: build_backend

[S12P31A202-392] feat: Add all group member list api feature
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupMemberListResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-392] feat: Add remove group member by group leader
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/repository/GroupMemberRepository.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-392] fix: Add calendar max length validation
  backend/src/main/java/net/dutymate/api/domain/calendar/controller/CalendarController.java
  backend/src/main/java/net/dutymate/api/domain/calendar/dto/CalendarRequestDto.java
Due: build_backend

[S12P31A202-372] feat: Add Group pages and modals
  frontend/src/components/organisms/Group/CheckMemberModal.tsx
  frontend/src/components/organisms/Group/DateSuggestionModal.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/Group/ExitGroupModal.tsx
  frontend/src/components/organisms/Group/GroupLayout.tsx
  frontend/src/components/organisms/Group/InviteMemberModal.tsx
  frontend/src/components/organisms/Group/ShareDateModal.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/pages/Group/NurseGroupPage.tsx
Due: check_frontend

[S12P31A202-372] feat: Add basic group files
  frontend/src/components/organisms/Group/CheckMemberModal.tsx
  frontend/src/components/organisms/Group/DateSuggestionModal.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/Group/GroupLayout.tsx
  frontend/src/components/organisms/Group/ShareDateModal.tsx
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/pages/Group/NurseGroupPage.tsx
  frontend/src/routes/Router.tsx
Due: check_frontend

[S12P31A202-372] feat: Add first group page
  frontend/src/components/organisms/Group/CheckMemberModal.tsx
  frontend/src/components/organisms/Group/DateSuggestionModal.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/Group/GroupLayout.tsx
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/WSidebar.tsx
  frontend/src/hooks/useMediaQuery.ts
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/pages/Group/NurseGroupPage.tsx
  frontend/src/routes/Router.tsx
  frontend/tailwind.config.js
Due: check_frontend

[S12P31A202-401] feat: Remove sidebar screen effect
  frontend/src/components/organisms/MSidebar.tsx
Due: check_frontend

[S12P31A202-393] feat: Add create group invite link
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupInviteResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
  backend/src/main/resources/application-env.yaml
Due: build_backend

[S12P31A202-393] feat: Add accept group invitation feature
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-404] chore: Change package versions to match expo compactibitlity
  mobile/package-lock.json
  mobile/package.json
Due: none

[S12P31A202-399] fix: Fix group name connect
  frontend/src/pages/Group/GroupMemberPage.tsx
Due: check_frontend

[S12P31A202-399] fix: Fix invite modal and new group
  frontend/src/components/organisms/Group/ExitGroupModal.tsx
  frontend/src/components/organisms/Group/InviteMemberModal.tsx
  frontend/src/components/organisms/Group/ShareDateModal.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/pages/Group/NurseGroupPage.tsx
Due: check_frontend

[S12P31A202-399] fix: Fix types and add remove member modal
  frontend/src/components/organisms/Group/CheckMemberModal.tsx
  frontend/src/components/organisms/Group/DateSuggestionModal.tsx
  frontend/src/components/organisms/Group/EditGroupModal.tsx
  frontend/src/components/organisms/Group/InviteMemberModal.tsx
  frontend/src/components/organisms/Group/RemoveMemberModal.tsx
  frontend/src/components/organisms/Group/ShareDateModal.tsx
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/pages/Group/NurseGroupPage.tsx
Due: check_frontend

[S12P31A202-367] feat: Link ward duty schedule with personal duty
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-367] feat: Link personal duty schedule with ward duty
  backend/src/main/java/net/dutymate/api/domain/member/Member.java
  backend/src/main/java/net/dutymate/api/domain/rule/service/RuleService.java
  backend/src/main/java/net/dutymate/api/domain/ward/service/WardService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/util/DutyAutoCheck.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/util/ShiftUtil.java
Due: build_backend

[S12P31A202-410] chore: Define explicit egress rule to avoid unwanted diffs on apply
  infrastructure/Modules/SecurityGroup/main.tf
Due: check_infrastructure

[S12P31A202-406] fix: Handle shift request from non-assigned ward user
  backend/src/main/java/net/dutymate/api/domain/request/service/RequestService.java
Due: build_backend

[S12P31A202-407] fix: Handle schedule access by non-assigned ward user
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-408] fix: Fix mypage error for non-assigned ward user
  backend/src/main/java/net/dutymate/api/domain/member/dto/MypageResponseDto.java
Due: build_backend

[S12P31A202-412] fix: Handle ward leave request by non-assigned ward user
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
Due: build_backend

[S12P31A202-356] feat: Reinforce re-request in auto generation
  backend/src/main/java/net/dutymate/api/domain/autoschedule/controller/AutoScheduleController.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/dto/ReAutoScheduleRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
Due: build_backend

[S12P31A202-356] feat: Enable re-auto-create if unreflected request exists
  backend/src/main/java/net/dutymate/api/domain/autoschedule/dto/AutoScheduleResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/util/NurseScheduler.java
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/UnreflectedRequestsModal.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend, build_backend

[S12P31A202-335] style: Fix code style
  backend/src/main/java/net/dutymate/api/domain/autoschedule/controller/AutoScheduleController.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/dto/AutoScheduleResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/UnreflectedRequestsModal.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend, build_backend

[S12P31A202-415] fix: Disalbe auto-gen button in loading
  frontend/src/components/organisms/NurseShortageModal.tsx
  frontend/src/components/organisms/UnreflectedRequestsModal.tsx
Due: check_frontend

[S12P31A202-394] refactor: Add filter positive scores only
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-394] feat: Add calculate group meeting date
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-394] feat: Add create group meeting date
  backend/src/main/java/net/dutymate/api/domain/group/controller/GroupController.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupMeetingRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupMeetingResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-394] fix: Fix response dto field name
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupListResponseDto.java
Due: build_backend

[S12P31A202-386] feat: Handle nurse shortage in auto-generation flow
  frontend/src/components/molecules/NurseShortageAlert.tsx
  frontend/src/components/organisms/NurseShortageModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/hooks/useNurseShortageCalculation.ts
Due: check_frontend

[S12P31A202-386] feat: Enable adding temp nurse directly in autogen modal
  frontend/src/components/organisms/NurseShortageModal.tsx
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/components/organisms/WardAdminInfo.tsx
  frontend/src/components/organisms/WardAdminTemp.tsx
  frontend/src/pages/WardAdmin.tsx
Due: check_frontend

[S12P31A202-422] feat: Create service survey modal
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/SurveyModal.tsx
  frontend/src/components/organisms/SurveyProvider.tsx
  frontend/src/components/organisms/WSidebar.tsx
Due: check_frontend

[S12P31A202-423] chore: Add eventbridge api destinations role
  infrastructure/Modules/IAM/main.tf
  infrastructure/Modules/IAM/outputs.tf
Due: check_infrastructure

[S12P31A202-425] chore: Add api_secret_key variable
  infrastructure/variables.tf
Due: check_infrastructure

[S12P31A202-424] chore: Add eventbridge api destinations
  infrastructure/Modules/EventBridge/main.tf
  infrastructure/Modules/EventBridge/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P31A202-417] refactor: Update member sorted by createdAt
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupMemberListResponseDto.java
Due: build_backend

[S12P31A202-417] feat: Add group CRUD API
  frontend/src/pages/Group/GroupDetailPage.tsx
  frontend/src/pages/Group/GroupMemberPage.tsx
  frontend/src/pages/Group/NurseGroupPage.tsx
  frontend/src/services/groupService.ts
  frontend/src/types/group.ts
Due: check_frontend
