Repository dutymate/dutymate-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*

[S12P31A202-551] refactor: Restructure Input component
  frontend/src/components/atoms/Input.tsx
Due: check_frontend

[S12P31A202-562] feat: Display error screen on webview failure
  mobile/src/screens/WebViewScreen.tsx
Due: none

[S12P31A202-561] feat: Change error screen text
  mobile/src/screens/ErrorScreen.tsx
Due: none

[S12P31A202-552] refactor: Add aditional logic to delete request
  backend/src/main/java/net/dutymate/api/domain/request/service/RequestService.java
  frontend/src/components/organisms/ReqAdminTable.tsx
Due: check_frontend, build_backend

[S12P31A202-552] feat: Enable request to delete
  frontend/src/components/organisms/ReqAdminTable.tsx
Due: check_frontend

[S12P31A202-557] feat: Sort mid shift
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-540] fix: Delete console.log
  frontend/src/components/organisms/TodayShiftModal.tsx
Due: check_frontend

[S12P31A202-540] refactor: Add my calendar when get my-duty
  backend/src/main/java/net/dutymate/api/domain/calendar/repository/CalendarRepository.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/dto/MyDutyResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
Due: build_backend

[S12P31A202-540] fix: Fix my-calendar api logic
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/pages/GoogleRedirect.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/dutyService.ts
  frontend/src/types/calendar.ts
Due: check_frontend

[S12P31A202-540] fix: Delete loading spinner to stop flicking
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
Due: check_frontend, build_backend

[S12P31A202-558] fix: Hide tutorial
  frontend/src/components/organisms/MSidebar.tsx
  frontend/src/components/organisms/WSidebar.tsx
Due: check_frontend

[S12P31A202-558] fix: Fix my calendar design
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/WorkCRUDModal.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/styles/animations.css
Due: check_frontend

[S12P31A202-472] feat: Add group meeting date with message
  backend/src/main/java/net/dutymate/api/domain/group/MeetingMessageType.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupMeetingResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-472] refactor: Update meeting date message
  backend/src/main/java/net/dutymate/api/domain/group/MeetingMessageType.java
  backend/src/main/java/net/dutymate/api/domain/group/TimeSlotStatus.java
Due: build_backend

[S12P31A202-567] feat: Add drag-and-drop to reorder nurses in duty table
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/ShiftAdminTable.tsx
  frontend/src/services/dutyService.ts
Due: check_frontend

[S12P31A202-567] feat: Update drag-and-drop feature for mobile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/ShiftAdminTable.tsx
Due: check_frontend

[S12P31A202-574] chore: Add .png type to declarations.d.ts
  mobile/declarations.d.ts
Due: none

[S12P31A202-580] feat: Implement LoginScreen skeleton
  mobile/src/App.tsx
  mobile/src/screens/LandingScreen.tsx
  mobile/src/screens/LoginScreen.tsx
Due: none

[S12P31A202-575] feat: Add black type to BlackColor
  mobile/src/components/button/Button.tsx
Due: none

[S12P31A202-579] feat: Implement LoginForm component
  mobile/src/components/form/login/LoginForm.tsx
Due: none

[S12P31A202-577] feat: Implement SocialLoginButton component
  mobile/assets/images/google-logo.png
  mobile/assets/images/kakao-logo.png
  mobile/src/components/button/SocialLoginButton.tsx
Due: none

[S12P31A202-578] feat: Implement Card component
  mobile/src/components/card/Card.tsx
Due: none

[S12P31A202-576] feat: Implement CustomImage component
  mobile/src/components/custom/CustomImage.tsx
Due: none

[S12P31A202-581] feat: Set footer text size to text-lg
  mobile/src/components/form/login/LoginForm.tsx
Due: none

[S12P31A202-583] misc: Unify comment style
  mobile/src/components/button/Button.tsx
  mobile/src/components/button/SocialLoginButton.tsx
  mobile/src/components/custom/StyledText.tsx
  mobile/src/components/custom/StyledTextInput.tsx
  mobile/src/components/form/login/LoginForm.tsx
  mobile/src/screens/ErrorScreen.tsx
  mobile/src/screens/LandingScreen.tsx
  mobile/src/templates/LogoTemplate.tsx
Due: none

[S12P31A202-585] feat: Implement InputActionButton component
  mobile/src/components/button/Button.tsx
Due: none

[S12P31A202-587] refactor: Move Card component to LoginScreen
  mobile/src/components/form/login/LoginForm.tsx
  mobile/src/screens/LoginScreen.tsx
Due: none

[S12P31A202-589] feat: Navigate to LandingScreen when logo is pressed on the template
  mobile/src/screens/LandingScreen.tsx
  mobile/src/screens/LoginScreen.tsx
  mobile/src/templates/LogoTemplate.tsx
Due: none

[S12P31A202-591] feat: Change footer text size to text-lg
  mobile/src/screens/LandingScreen.tsx
Due: none

[S12P31A202-556] feat: Add day or evening shift
  frontend/src/components/organisms/WardAdminRowCard.tsx
Due: check_frontend

[S12P31A202-556] feat: Add all button
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
Due: check_frontend

[S12P31A202-556] feat: Enable multi-choice of shift type
  backend/src/main/java/net/dutymate/api/domain/autoschedule/service/AutoScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/member/service/MemberService.java
  backend/src/main/java/net/dutymate/api/domain/ward/dto/WardInfoResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/ShiftType.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/WardMember.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/dto/NurseInfoRequestDto.java
  backend/src/main/java/net/dutymate/api/domain/wardmember/service/WardMemberService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/dto/AllWardDutyResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/dto/WardScheduleResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/service/WardScheduleService.java
  backend/src/main/java/net/dutymate/api/domain/wardschedules/util/PreviousScheduleGenerator.java
  frontend/src/components/organisms/WardAdminRowCard.tsx
  frontend/src/components/organisms/WardAdminTable.tsx
  frontend/src/services/wardService.ts
  frontend/src/stores/wardStore.ts
Due: check_frontend, build_backend

[S12P31A202-595] feat: Implement LoginEmailVerificationForm skeleton
  mobile/src/components/form/login/LoginEmailVerificationForm.tsx
  mobile/src/screens/LoginScreen.tsx
Due: none

[S12P31A202-593] feat: Update Open Graph image for better social preview
  frontend/index.html
  frontend/src/components/organisms/Group/InviteMemberModal.tsx
Due: check_frontend

[S12P31A202-596] feat: Shorten landing notice and update announcement content
  frontend/public/updateNotice.md
Due: check_frontend

[S12P31A202-566] fix: Fix my calendar connection and size and Add policy page
  frontend/src/components/atoms/Profile.tsx
  frontend/src/components/organisms/MyShiftCalendar.tsx
  frontend/src/components/organisms/ScheduleEditModal.tsx
  frontend/src/components/organisms/TodayShiftModal.tsx
  frontend/src/pages/MyShift.tsx
  frontend/src/pages/PrivacyPolicy.tsx
  frontend/src/routes/Router.tsx
  frontend/src/types/calendar.ts
Due: check_frontend

[S12P31A202-599] fix: Update group meeting date message
  backend/src/main/java/net/dutymate/api/domain/group/MeetingMessageType.java
  backend/src/main/java/net/dutymate/api/domain/group/TimeSlotStatus.java
  backend/src/main/java/net/dutymate/api/domain/group/dto/GroupMeetingResponseDto.java
  backend/src/main/java/net/dutymate/api/domain/group/service/GroupService.java
Due: build_backend

[S12P31A202-605] refactor: Remove disabled props
  mobile/src/components/button/Button.tsx
Due: none

[S12P31A202-602] feat: Implement PasswordResetForm component
  mobile/src/components/form/password/PasswordResetForm.tsx
Due: none

[S12P31A202-603] feat: Implement PasswordResetScreen skeleton
  mobile/src/App.tsx
  mobile/src/components/form/login/LoginForm.tsx
  mobile/src/screens/PasswordResetScreen.tsx
Due: none
